Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: "eslint: Find and fix problems in your JavaScript code"
        entry: npx eslint --max-warnings=0 --no-warn-ignored
        language: node
        types_or: [javascript, jsx, ts, tsx]
        files: \.(js|jsx|ts|tsx|mjs|cjs|astro)$
        exclude: ^examples/
        fail_fast: true
        require_serial: true

      - id: prettier
        name: prettier
        description: "prettier: Opinionated Code Formatter"
        entry: npx prettier --check
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
        fail_fast: true
        require_serial: true

      - id: astro-check
        name: astro check
        description: "astro check: Check your project for errors"
        entry: npx astro check
        language: node
        pass_filenames: false
        files: \.(astro|ts|tsx)$
        fail_fast: true
        require_serial: true

feat(DVP-1195): add chat interface with markdown and syntax highlighting
  src/components/ChatInterface.tsx
Due: eslint, prettier, astro-check

feat(DVP-1195): wire up chat panel and trigger into layout
  src/components/CustomThemeProvider.astro
  src/components/Header.astro
  src/env.d.ts
Due: eslint, prettier, astro-check

fix(DVP-1195): address code review findings
  src/components/ChatInterface.tsx
  src/components/Header.astro
Due: eslint, prettier, astro-check

fix(DVP-1195): remove native Kapa widget, match trigger height to search
  astro.config.mjs
  src/components/AIChatTrigger.tsx
Due: eslint, prettier, astro-check

style(DVP-1195): add accent color tokens, apply green to Ask AI trigger
  src/components/AIChatTrigger.tsx
  src/styles/global.css
Due: eslint, prettier, astro-check

refactor(DVP-1195): make accent colors theme-aware via CSS custom properties
  src/styles/global.css
Due: prettier

style(DVP-1195): unify copy button with feedback button style
  src/components/ChatInterface.tsx
Due: eslint, prettier, astro-check

ci(DVP-1195): add PUBLIC_KAPA_INTEGRATION_ID to build env, remove obsolete TSTRUCT_TOKEN
  .github/workflows/acceptance.yml
  .github/workflows/publish.yaml
  src/env.d.ts
Due: eslint, prettier, astro-check

feat: add ClientRouter and transition:persist for chat panel persistence
  src/components/CustomThemeProvider.astro
Due: prettier, astro-check

style: add view transition animations with reduced-motion support
  src/styles/global.css
Due: prettier

chore: remove stale viewTransitions config (replaced by ClientRouter)
  astro.config.mjs
Due: eslint

style: fix formatting in CustomThemeProvider and global.css
  src/components/CustomThemeProvider.astro
  src/styles/global.css
Due: prettier, astro-check

style: reduce view transition duration from 150ms to 75ms
  src/styles/global.css
Due: prettier

style: fix header layout overlap on narrow viewports
  src/components/AIChatTrigger.tsx
  src/components/Header.astro
Due: eslint, prettier, astro-check

style(DVP-1195): make Ask AI button responsive for narrow viewports
  src/components/AIChatTrigger.tsx
Due: eslint, prettier, astro-check

style(DVP-1195): swap Ask AI icon to ai-chat-fill (chat bubble with sparkle)
  src/components/AIChatTrigger.tsx
Due: eslint, prettier, astro-check

feat(DVP-1207): add GTM virtual page view tracking for client-side navigations
  src/components/CustomThemeProvider.astro
Due: prettier, astro-check

feat(DVP-1208): add CustomPage.astro with Pagefind library filter attribute
  astro.config.mjs
  src/components/CustomPage.astro
  src/components/SiteTitle.astro
  src/env.d.ts
Due: eslint, prettier, astro-check

feat(DVP-1208): add CustomSearch.astro with library-scoped search
  astro.config.mjs
  src/components/CustomSearch.astro
Due: eslint, prettier, astro-check

fix(DVP-1208): use relative path for SidebarPersistState script import
  src/components/CustomPage.astro
Due: prettier, astro-check

fix(DVP-1208): use Banner override instead of non-functional Page override
  astro.config.mjs
  src/components/Banner.astro
  src/components/CustomPage.astro
Due: eslint, prettier, astro-check

fix(DVP-1208): correct Pagefind filter syntax and Header virtual import
  package.json
  pnpm-lock.yaml
  src/components/Banner.astro
  src/components/CustomSearch.astro
  src/components/Header.astro
Due: prettier, astro-check

feat(DVP-1208): add library filter dropdown with auto-scoping
  src/components/Banner.astro
  src/components/CustomSearch.astro
Due: prettier, astro-check

refactor(DVP-1208): address code review findings
  src/components/Banner.astro
  src/components/CustomSearch.astro
  src/config/libraries.ts
  src/env.d.ts
Due: eslint, prettier, astro-check

Fixed lint errors
  search-desktop.png
  search-mobile.png
  src/assets/images/ai-chat-fill.svg
  src/assets/images/ai-chat.svg
  src/config/libraries.ts
Due: eslint, prettier, astro-check

fix(DVP-1208): initialize Pagefind UI on ClientRouter navigations
  src/components/CustomSearch.astro
Due: prettier, astro-check

chore: remove unused LibrarySlug union type
  imports/types.ts
Due: eslint, astro-check

initial x402 intro
  astro.config.mjs
  src/assets/images/x402-flow.png
  src/content/docs/resources/x402-on-algorand.mdx
Due: eslint, prettier

refactor: rename SidebarMetadata.includes to .sections
  imports/types.ts
Due: eslint, astro-check

refactor: update all SidebarMetadata references from .includes to .sections
  imports/configs/algokit-cli/sidebar.config.ts
  imports/configs/algokit-subscriber/sidebar.config.ts
  imports/configs/algokit-utils/sidebar.config.ts
  imports/configs/algorand-python/sidebar.config.ts
  imports/configs/algorand-typescript/sidebar.config.ts
  imports/configs/nodekit/sidebar.config.ts
  scripts/manage-sidebar-meta.ts
Due: eslint, astro-check

refactor: widen sidebar globs from /latest to /* for version agnosticism
  imports/configs/algokit-cli/sidebar.config.ts
  imports/configs/algokit-utils/sidebar.config.ts
  imports/configs/algorand-python/sidebar.config.ts
  imports/configs/algorand-typescript/sidebar.config.ts
Due: eslint, astro-check

feat: add rebaseSidebarEntries() utility for sidebar.json path rebasing
  imports/sidebar.ts
  imports/types.ts
Due: eslint, astro-check

feat: add file-existence detection to buildSidebarEntries for sidebar.json
  imports/sidebar.ts
Due: eslint, astro-check

feat: add buildAllLibrarySidebarEntries() aggregator
  imports/sidebar.ts
Due: eslint, astro-check

refactor: replace 6 manual sidebar imports with buildAllLibrarySidebarEntries()
  astro.config.mjs
Due: eslint

refactor: remove dead sidebarEntries exports from sidebar.config.ts files
  imports/configs/algokit-cli/sidebar.config.ts
  imports/configs/algokit-subscriber/sidebar.config.ts
  imports/configs/algokit-utils/sidebar.config.ts
  imports/configs/algorand-python/sidebar.config.ts
  imports/configs/algorand-typescript/sidebar.config.ts
  imports/configs/nodekit/sidebar.config.ts
Due: eslint, astro-check

Added note for useWallet
  src/content/docs/concepts/accounts/keys-signing.mdx
Due: prettier

feat: add slug variant to SidebarJsonEntry type
  imports/types.ts
Due: eslint, astro-check

feat: add slug rebasing to rebaseSidebarEntries()
  imports/sidebar.ts
Due: eslint, astro-check

feat: discriminated union for VariantImportConfig
  imports/types.ts
Due: eslint, astro-check
