Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: "eslint: Find and fix problems in your JavaScript code"
        entry: npx eslint --max-warnings=0 --no-warn-ignored
        language: node
        types_or: [javascript, jsx, ts, tsx]
        files: \.(js|jsx|ts|tsx|mjs|cjs|astro)$
        exclude: ^examples/
        fail_fast: true
        require_serial: true

      - id: prettier
        name: prettier
        description: "prettier: Opinionated Code Formatter"
        entry: npx prettier --check
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
        fail_fast: true
        require_serial: true

      - id: astro-check
        name: astro check
        description: "astro check: Check your project for errors"
        entry: npx astro check
        language: node
        pass_filenames: false
        files: \.(astro|ts|tsx)$
        fail_fast: true
        require_serial: true

pull in remote markdown
  src/content/docs/resources/algo-x-evm.mdx
Due: prettier

docs: add asset metadata page and improve ASA overview documentation
  astro.config.mjs
  src/content/docs/concepts/assets/asset-metadata.mdx
  src/content/docs/concepts/assets/known-assets.mdx
  src/content/docs/concepts/assets/overview.mdx
Due: eslint, prettier

style: lint fixes
  src/content/docs/concepts/assets/asset-metadata.mdx
  src/content/docs/concepts/assets/overview.mdx
Due: prettier

refactor: replace @larkiny/astro-github-loader with @algorandfoundation/astro-github-loader
  README.md
  imports/configs/algokit-cli.ts
  imports/configs/algokit-utils.ts
  imports/configs/arc-standards.ts
  imports/configs/nodekit.ts
  imports/configs/puya.ts
  imports/configs/subscriber.ts
  imports/transforms/common.ts
  imports/transforms/content.ts
  imports/transforms/frontmatter.ts
  imports/transforms/links.ts
  package.json
  pnpm-lock.yaml
  scripts/clean-docs-import.ts
  src/content/config.ts
Due: eslint, prettier, astro-check

fix: update subscriber config owner, use process.env for GITHUB_TOKEN, and update README
  README.md
Due: none

add introduction
  src/content/docs/resources/algo-x-evm.mdx
Due: prettier

refactor: ethereum to algorand page
  src/content/docs/getting-started/ethereum-to-algorand.mdx
Due: prettier

add: first transaction/assets pages to site
  astro.config.mjs
  src/content/docs/getting-started/your-first-asset.mdx
  src/content/docs/getting-started/your-first-transaction.mdx
Due: eslint, prettier

fix: formatting and linting
  src/content/docs/getting-started/ethereum-to-algorand.mdx
Due: prettier

fix: arc-69 reference
  src/content/docs/getting-started/ethereum-to-algorand.mdx
Due: prettier

overview
  astro.config.mjs
  src/content/docs/concepts/accounts/multisig.mdx
  src/content/docs/concepts/accounts/overview.mdx
Due: eslint, prettier

fix 404s
  astro.config.mjs
  src/content/docs/algokit/subscriber/typescript/overview.md
  src/content/docs/algokit/subscriber/typescript/subscriber.md
  src/content/docs/algokit/subscriber/typescript/subscriptions.md
Due: eslint, prettier

feat: restructured tutorial section
  astro.config.mjs
  src/assets/images/LORAConnectAlice.png
  src/assets/images/LORAConnectWallet.png
  src/content/docs/getting-started/tutorials/first-smart-contract.mdx
  src/content/docs/getting-started/tutorials/get-ready-to-build.mdx
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
  src/content/docs/getting-started/tutorials/your-first-transaction.mdx
  src/content/docs/getting-started/your-first-asset.mdx
Due: eslint, prettier

feat: add LORA tutorial page
  astro.config.mjs
  src/content/docs/getting-started/tutorials/get-ready-to-build.mdx
  src/content/docs/getting-started/tutorials/using-lora.mdx
Due: eslint, prettier

add: arc-55 reference to multisig docs
  src/content/docs/concepts/accounts/multisig.mdx
Due: prettier

fix: linting errors
  src/content/docs/concepts/accounts/multisig.mdx
Due: prettier

fix: linting
  src/content/docs/getting-started/tutorials/first-smart-contract.mdx
  src/content/docs/getting-started/tutorials/get-ready-to-build.mdx
  src/content/docs/getting-started/tutorials/using-lora.mdx
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
  src/content/docs/getting-started/tutorials/your-first-transaction.mdx
Due: prettier

implement feedback
  astro.config.mjs
  src/content/docs/concepts/assets/asset-metadata.mdx
  src/content/docs/concepts/assets/overview.mdx
Due: eslint, prettier

feat: add deployment docs
  DEPLOYMENT.md
Due: none

docs: update x402 tutorial with latest packages
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

fix: correct broken TEAL Opcodes reference link on logic-sigs page
  src/content/docs/concepts/smart-contracts/logic-sigs.mdx
Due: prettier

feat: using lora page
  src/assets/images/lora-applab.png
  src/assets/images/lora-fund.png
  src/assets/images/lora-txnwizard.png
  src/content/docs/getting-started/tutorials/get-ready-to-build.mdx
  src/content/docs/getting-started/tutorials/using-lora.mdx
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
  src/content/docs/getting-started/tutorials/your-first-transaction.mdx
Due: prettier

feat: your first asset page
  src/assets/images/TSassetcreate-log.png
  src/assets/images/TScreateasset-file-location.png
  src/assets/images/lora-add-transaction.png
  src/assets/images/lora-assetcreate-explore.png
  src/assets/images/lora-assetcreator-balance.png
  src/assets/images/lora-connect-alice.png
  src/assets/images/lora-connect-wallet.png
  src/assets/images/lora-createasset-asset-info.png
  src/assets/images/lora-createasset-config.png
  src/assets/images/lora-createasset-view-alice.png
  src/assets/images/lora-submit-createasset-transaction-wizard.png
  src/content/docs/getting-started/tutorials/using-lora.mdx
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
Due: prettier

feat: your first transaction tutorial
  src/assets/images/LORAfirst-transaction-alice-funds-bob.png
  src/assets/images/LORAfirst-transaction-bob-optin.png
  src/assets/images/LORAfirst-transaction-complete-group.png
  src/assets/images/LORAfirst-transaction-explore.png
  src/assets/images/LORAfirst-transaction-send-mfa.png
  src/assets/images/LORAfirst-transaction-visualization.png
  src/assets/images/TSfirst-transaction-console.png
  src/assets/images/TSfirst-transaction-file-structure.png
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
  src/content/docs/getting-started/tutorials/your-first-transaction.mdx
Due: prettier

fix: typos and grammar
  src/content/docs/getting-started/tutorials/get-ready-to-build.mdx
  src/content/docs/getting-started/tutorials/using-lora.mdx
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
  src/content/docs/getting-started/tutorials/your-first-transaction.mdx
Due: prettier

feat: first asset python
  astro.config.mjs
  src/assets/images/PYassetcreate-log.png
  src/assets/images/PYcreateasset-file-location.png
  src/content/docs/getting-started/tutorials/first-smart-contract.mdx
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
Due: eslint, prettier

feat: first transaction python
  src/assets/images/PYfirst-transaction-console.png
  src/assets/images/PYfirst-transaction-file-structure.png
  src/content/docs/getting-started/tutorials/get-ready-to-build.mdx
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
  src/content/docs/getting-started/tutorials/your-first-transaction.mdx
Due: prettier

refactor: your first smart contract
  src/content/docs/getting-started/tutorials/first-smart-contract.mdx
Due: prettier

fix: correct broken Other Fields link on blocks page
  src/content/docs/concepts/transactions/blocks.mdx
Due: prettier

fix: headings and typos
  src/content/docs/getting-started/tutorials/first-smart-contract.mdx
  src/content/docs/getting-started/tutorials/get-ready-to-build.mdx
  src/content/docs/getting-started/tutorials/using-lora.mdx
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
  src/content/docs/getting-started/tutorials/your-first-transaction.mdx
Due: prettier

fix: linting
  src/content/docs/getting-started/tutorials/get-ready-to-build.mdx
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
Due: prettier

fix: broken links
  src/content/docs/algokit/language-servers/algorand-python.mdx
  src/content/docs/algokit/language-servers/algorand-typescript.mdx
  src/content/docs/algokit/official-algokit-templates.mdx
  src/content/docs/concepts/smart-contracts/languages/python.mdx
  src/content/docs/concepts/smart-contracts/languages/typescript.mdx
  src/content/docs/concepts/smart-contracts/opcodes-overview.mdx
  src/content/docs/getting-started/portal-guide.mdx
  src/content/docs/getting-started/why-algorand.mdx
Due: prettier

add: first instance of acronym meanings
  src/content/docs/getting-started/ethereum-to-algorand.mdx
  src/content/docs/getting-started/portal-guide.mdx
  src/content/docs/getting-started/tutorials/first-smart-contract.mdx
  src/content/docs/getting-started/tutorials/get-ready-to-build.mdx
  src/content/docs/getting-started/tutorials/using-lora.mdx
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
  src/content/docs/getting-started/tutorials/your-first-transaction.mdx
  src/content/docs/getting-started/why-algorand.mdx
Due: prettier

feat: remove build with algokit section
  astro.config.mjs
Due: eslint

feat: redesign library picker component
  src/components/Header.astro
  src/components/HeaderMenu.astro
  src/components/LibraryDocsSidebar.astro
  src/components/LibraryPicker.astro
  src/components/Sidebar.astro
  src/styles/components.css
Due: prettier, astro-check

fix: dark mode
  src/components/LibraryPicker.astro
Due: prettier, astro-check

feat: changes
  src/components/LibraryPicker.astro
Due: prettier, astro-check

Add AGENTS.md to docs directory to enable agentic leverage on content work
  src/content/docs/AGENTS.md
Due: prettier
