Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

eslint:
  name: eslint
  description: 'eslint: Find and fix problems in your JavaScript code'
  entry: npx eslint --max-warnings=0 --no-warn-ignored
  language: node
  fail_fast: true
  require_serial: true

prettier:
  name: prettier
  description: 'prettier: Opinionated Code Formatter'
  entry: npx prettier --check
  language: node
  fail_fast: true
  require_serial: true

astro-check:
  name: astro check
  description: 'astro check: Check your project for errors'
  entry: npx astro check
  language: node
  pass_filenames: false
  fail_fast: true
  require_serial: true

docs: concise usage docs in readme
  README.md
Due: none

feat: improve dropdown ergonomics & remove custom styling
  scripts/generate-opcode-list.js
  src/components/OpcodeFilters.astro
  src/content/docs/reference/algorand-teal/opcodes.mdx
  src/styles/components.css
  templates/opcodes.md.hbs
Due: eslint, prettier, astro-check

feat: convert generate opcodes to import/export pattern
  scripts/generate-opcode-list.js
  scripts/update-opcodes.ts
Due: eslint, astro-check

feat: opcode count based on filter selection
  src/components/OpcodeFilters.astro
Due: prettier, astro-check

feat: converted generate-opcode.js to .ts
  package.json
  scripts/generate-opcode-list.ts
  scripts/update-opcodes.ts
Due: eslint, astro-check

feat: default to (current) opcode list
  src/components/OpcodeFilters.astro
Due: prettier, astro-check

chore: lint and build
  src/components/OpcodeFilters.astro
Due: prettier, astro-check

docs: restructure close-account section
  src/content/docs/concepts/transactions/types.mdx
Due: prettier

docs: update auth-addr wording for new protocol rule
  src/content/docs/concepts/accounts/rekeying.mdx
  src/content/docs/concepts/transactions/reference.mdx
Due: prettier

Potential fix for pull request finding
  src/content/docs/concepts/accounts/rekeying.mdx
Due: prettier

docs: add poseidon2 opcode to cryptographic tools and AVM pages
  src/content/docs/concepts/smart-contracts/avm.md
  src/content/docs/concepts/smart-contracts/cryptographic-tools.mdx
Due: prettier

Potential fix for pull request finding
  src/content/docs/concepts/smart-contracts/cryptographic-tools.mdx
Due: prettier

docs: add sha512 opcode to cryptographic tools and AVM pages
  src/content/docs/concepts/smart-contracts/avm.md
  src/content/docs/concepts/smart-contracts/cryptographic-tools.mdx
Due: prettier

fix: preserve raw upstream langspec to prevent JSON corruption
  scripts/update-opcodes.ts
  src/content/docs/reference/algorand-teal/opcodes.json
  src/content/docs/reference/algorand-teal/opcodes.mdx
Due: eslint, prettier, astro-check

fix: authenticate GitHub API calls to avoid CI rate limits
  .github/workflows/publish.yaml
  .github/workflows/update-opcodes.yml
  scripts/update-opcodes.ts
Due: eslint, astro-check

Update Bytes per Box reference to 2048
  src/content/docs/concepts/smart-contracts/costs-constraints.mdx
  src/content/docs/concepts/smart-contracts/storage/box.mdx
Due: prettier

docs: document fee-based size limits for larger transactions
  src/content/docs/concepts/protocol/protocol-parameters.mdx
  src/content/docs/concepts/smart-contracts/avm.md
  src/content/docs/concepts/smart-contracts/costs-constraints.mdx
  src/content/docs/concepts/smart-contracts/languages/teal.mdx
  src/content/docs/concepts/smart-contracts/logic-sigs.mdx
  src/content/docs/concepts/transactions/fees.mdx
  src/content/docs/concepts/transactions/reference.mdx
Due: prettier

docs: address review feedback, clarify standard vs paid limits
  src/content/docs/concepts/protocol/protocol-parameters.mdx
  src/content/docs/concepts/smart-contracts/costs-constraints.mdx
  src/content/docs/concepts/smart-contracts/logic-sigs.mdx
  src/content/docs/concepts/transactions/fees.mdx
  src/content/docs/concepts/transactions/reference.mdx
Due: prettier

docs: clarify lsig standard limit is pooled
  src/content/docs/concepts/transactions/fees.mdx
Due: prettier

docs: remove tealdbg from developer tools list
  src/content/docs/nodes/installation/manual-installation.mdx
Due: prettier

docs: remove deprecated dryrun mentions
  src/content/docs/concepts/smart-contracts/resource-usage.mdx
  src/content/docs/nodes/reference/config-settings.mdx
Due: prettier

docs: document AVM v13 family box access
  src/content/docs/concepts/protocol/protocol-parameters.mdx
  src/content/docs/concepts/smart-contracts/avm.md
  src/content/docs/concepts/smart-contracts/inner-txn.mdx
  src/content/docs/concepts/smart-contracts/storage/box.mdx
  src/content/docs/concepts/smart-contracts/storage/overview.mdx
Due: prettier

Fixed grammatical mistake
  src/content/docs/concepts/smart-contracts/storage/box.mdx
Due: prettier

fix: reveal a deep-linked opcode hidden by the version filter
  src/components/OpcodeFilters.astro
Due: prettier, astro-check

fix: surface real error on non-404s when probing opcode versions
  scripts/update-opcodes.ts
Due: eslint, astro-check

fix: avoid shell injection of workflow ref input
  .github/workflows/update-opcodes.yml
Due: none

docs: drop references to the removed "not yet live" marker
  .github/workflows/update-opcodes.yml
  README.md
  scripts/update-opcodes.ts
Due: eslint, astro-check

fix: resolve older --ref to its own newest opcode version
  scripts/update-opcodes.ts
Due: eslint, astro-check

fix: default opcode filter to highest released-or-earlier version
  src/components/OpcodeFilters.astro
Due: prettier, astro-check

fix: sort opcodes by code unit for deterministic ordering
  scripts/generate-opcode-list.ts
  src/content/docs/reference/algorand-teal/opcodes.mdx
Due: eslint, prettier, astro-check

docs: correct scripts dir-tree in README
  README.md
Due: none

ci: authenticate update-opcodes workflow via GitHub App
  .github/workflows/update-opcodes.yml
Due: none

fix: AVM versions typo
  templates/opcodes.md.hbs
Due: none

Added high level concept for 'Family box writing' & 'Foreign box reading'
  src/content/docs/concepts/smart-contracts/storage/box.mdx
Due: prettier

docs: clarify family box re-entrancy wording in avm.md
  src/content/docs/concepts/smart-contracts/avm.md
Due: prettier

docs: update box storage links
  src/content/docs/concepts/smart-contracts/inner-txn.mdx
Due: prettier

docs: updated Sharing Boxes Between Applications links
  src/content/docs/concepts/smart-contracts/storage/overview.mdx
Due: prettier

docs: add simulate fee estimation section
  src/content/docs/concepts/transactions/fees.mdx
Due: prettier

docs: document epp and global schema updates in txn reference
  src/content/docs/concepts/transactions/reference.mdx
Due: prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs|astro)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^examples/)
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
  astro-check: any of: \.(astro|ts|tsx)$
