Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: "eslint: Find and fix problems in your JavaScript code"
        entry: npx eslint --max-warnings=0 --no-warn-ignored
        language: node
        types_or: [javascript, jsx, ts, tsx]
        files: \.(js|jsx|ts|tsx|mjs|cjs|astro)$
        exclude: ^examples/
        fail_fast: true
        require_serial: true

      - id: prettier
        name: prettier
        description: "prettier: Opinionated Code Formatter"
        entry: npx prettier --check
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
        fail_fast: true
        require_serial: true

      - id: astro-check
        name: astro check
        description: "astro check: Check your project for errors"
        entry: npx astro check
        language: node
        pass_filenames: false
        files: \.(astro|ts|tsx)$
        fail_fast: true
        require_serial: true

test(DVP): add frontmatter.ts transform tests
  imports/transforms/frontmatter.ts
  tests/imports/transforms/frontmatter.test.ts
Due: eslint, astro-check

fix: add importedAt and description assertions to sourceInfo test
  tests/imports/transforms/frontmatter.test.ts
Due: eslint, astro-check

refactor: drop dead RemoteMarkdown tests and unexport extractSection
  src/components/RemoteMarkdown.ts
  tests/components/remote-markdown.test.ts
Due: eslint, prettier, astro-check

test(DVP): add RemoteCode and RemoteMarkdown pure function tests
  src/components/RemoteCode.ts
  src/components/RemoteMarkdown.ts
  tests/components/remote-code.test.ts
  tests/components/remote-markdown.test.ts
Due: eslint, prettier, astro-check

fix: strengthen assertions in libraries.test.ts per review
  tests/config/libraries.test.ts
Due: eslint, astro-check

fix(DVP): add Props interfaces to 4 untyped Astro components
  src/components/DropDown.astro
  src/components/Figure.astro
  src/components/RemoteCode.astro
  src/components/YouTube.astro
Due: prettier, astro-check

ci(DVP): add test job to acceptance workflow and fix lint errors
  .github/workflows/acceptance.yml
  tests/imports/sidebar.test.ts
  tests/imports/transforms/common.test.ts
  tests/imports/transforms/links.test.ts
  tests/imports/transforms/yaml-utils.test.ts
Due: eslint, astro-check

fix(DVP): remove unused widdershins dep and override vulnerable transitive deps
  package.json
  pnpm-lock.yaml
Due: none

docs(DVP): document set:html trust boundaries per astro-coding Rule #10
  src/components/Banner.astro
  src/components/LibraryDocsSidebar.astro
  src/components/LibraryLinkCard.astro
  src/components/LinkChip.astro
  src/components/LinkInfoCard.astro
  src/components/SiteTitle.astro
Due: prettier, astro-check

fix(DVP): add rel="noopener noreferrer" to external links in templates
  src/components/Footer.astro
  src/components/homepage/IconCard.astro
Due: prettier, astro-check

chore(DVP): remove unused lychee link checker
  .github/workflows/link-check.yml.disabled
  .gitignore
  .lycheeignore
  lychee.toml
  package.json
Due: none

feat: add self-describing manifest to doc artifacts
  .github/actions/publish-devportal-docs/action.yml
  scripts/import-release-docs.ts
  scripts/library-templates/README.md
  scripts/library-templates/build-manifest.ts
  scripts/library-templates/publish-devportal-docs.yml
Due: eslint, astro-check

fix: ensure dist-devportal dir exists and strip trailing slashes
  scripts/import-release-docs.ts
  scripts/library-templates/build-manifest.ts
Due: eslint, astro-check

feat(devportal-docs): scaffold package with shared utils and types
  packages/devportal-docs/package.json
  packages/devportal-docs/src/types.ts
  packages/devportal-docs/src/utils/fs.ts
  packages/devportal-docs/src/utils/resolve-base.ts
  packages/devportal-docs/tests/types.test.ts
  packages/devportal-docs/tests/utils/fs.test.ts
  packages/devportal-docs/tests/utils/resolve-base.test.ts
  packages/devportal-docs/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, astro-check

feat(devportal-docs): add CLI commands — normalize-links, build-sidebar, build-manifest, build
  packages/devportal-docs/src/commands/build-manifest.ts
  packages/devportal-docs/src/commands/build-sidebar.ts
  packages/devportal-docs/src/commands/build.ts
  packages/devportal-docs/src/commands/normalize-links.ts
  packages/devportal-docs/tests/commands/build-manifest.test.ts
  packages/devportal-docs/tests/commands/build-sidebar.test.ts
  packages/devportal-docs/tests/commands/build.test.ts
  packages/devportal-docs/tests/commands/normalize-links.test.ts
Due: eslint, astro-check

feat(devportal-docs): add init command, CLI entry point, and theme assets
  packages/devportal-docs/src/cli.ts
  packages/devportal-docs/src/commands/init.ts
  packages/devportal-docs/tests/cli.test.ts
  packages/devportal-docs/tests/commands/init.test.ts
  packages/devportal-docs/tests/theme.test.ts
  packages/devportal-docs/theme/fonts.css
  packages/devportal-docs/theme/fonts/Aeonik-Bold.woff
  packages/devportal-docs/theme/fonts/Aeonik-Bold.woff2
  packages/devportal-docs/theme/fonts/Aeonik-Regular.woff
  packages/devportal-docs/theme/fonts/Aeonik-Regular.woff2
  packages/devportal-docs/theme/fonts/Inter-Bold.woff
  packages/devportal-docs/theme/fonts/Inter-Bold.woff2
  packages/devportal-docs/theme/fonts/Inter-Regular.woff
  packages/devportal-docs/theme/fonts/Inter-Regular.woff2
  packages/devportal-docs/theme/fonts/SourceCodePro-Bold.woff
  packages/devportal-docs/theme/fonts/SourceCodePro-Bold.woff2
  packages/devportal-docs/theme/fonts/SourceCodePro-Italic.woff
  packages/devportal-docs/theme/fonts/SourceCodePro-Italic.woff2
  packages/devportal-docs/theme/fonts/SourceCodePro-Regular.woff
  packages/devportal-docs/theme/fonts/SourceCodePro-Regular.woff2
  packages/devportal-docs/theme/index.js
  packages/devportal-docs/theme/theme.css
Due: eslint, astro-check

feat(devportal-docs): add vitest config and fix build
  packages/devportal-docs/package.json
  packages/devportal-docs/src/types.ts
  packages/devportal-docs/tsconfig.json
  packages/devportal-docs/vitest.config.ts
  pnpm-lock.yaml
Due: eslint, astro-check

refactor: remove legacy library-templates in favor of devportal-docs package
  scripts/library-templates/README.md
  scripts/library-templates/build-manifest.ts
  scripts/library-templates/build-sidebar-json.ts
  scripts/library-templates/normalize-links.ts
  scripts/library-templates/publish-devportal-docs.yml
  tsconfig.json
Due: eslint, astro-check

docs(devportal-docs): add package README with onboarding guide
  packages/devportal-docs/README.md
Due: none

feat(devportal-docs): init command auto-adds theme CSS to astro.config.mjs
  packages/devportal-docs/src/commands/init.ts
  packages/devportal-docs/tests/commands/init.test.ts
Due: eslint, astro-check

feat(devportal-docs): init checks for Tailwind CSS v4, add publishConfig
  packages/devportal-docs/package.json
  packages/devportal-docs/src/commands/init.ts
  packages/devportal-docs/tests/commands/init.test.ts
Due: eslint, astro-check

Removed obsolete file; updated theme.css
  packages/devportal-docs/algorandfoundation-devportal-docs-0.1.0.tgz
  packages/devportal-docs/theme/theme.css
  search-desktop.png
  search-mobile.png
Due: none

Added index files for libs
  src/content/docs/docs/algokit-utils/index.md
  src/content/docs/docs/algokit-utils/typescript/latest/index.md
  src/content/docs/docs/algorand-python/index.md
  src/content/docs/docs/algorand-python/python/latest/index.md
  src/content/docs/docs/algorand-typescript/index.md
  src/content/docs/docs/algorand-typescript/typescript/latest/index.md
  src/content/docs/docs/nodekit/go/latest/index.md
Due: prettier

fix(devportal-docs): audit fixes — robustness, dedup, integration tests
  packages/devportal-docs/.gitignore
  packages/devportal-docs/src/commands/build-sidebar.ts
  packages/devportal-docs/src/commands/init.ts
  packages/devportal-docs/src/commands/normalize-links.ts
  packages/devportal-docs/src/utils/fs.ts
  packages/devportal-docs/src/utils/resolve-base.ts
  packages/devportal-docs/tests/cli.test.ts
  packages/devportal-docs/tests/commands/build-sidebar.test.ts
  packages/devportal-docs/tests/commands/init.test.ts
  packages/devportal-docs/tests/commands/normalize-links.test.ts
Due: eslint, astro-check

fix(devportal-docs): address PR review findings
  packages/devportal-docs/README.md
  packages/devportal-docs/algorandfoundation-devportal-docs-0.1.0.tgz
  packages/devportal-docs/src/cli.ts
  packages/devportal-docs/src/commands/build-sidebar.ts
  packages/devportal-docs/src/commands/init.ts
Due: eslint, astro-check

fix: resolve lint errors for devportal-docs package
  eslint.config.js
  packages/devportal-docs/src/commands/normalize-links.ts
Due: eslint, astro-check

Cleaning up readme and obsolete files
  README.md
  package.json
  scripts/clean-docs-import.ts
Due: eslint, astro-check

chore: remove obsolete clean-docs-import script
  scripts/clean-docs-import.ts
Due: eslint, astro-check

Updated readme
  packages/devportal-docs/README.md
Due: none

docs: add design for macOS case-insensitive filename fix
  docs/plans/2026-02-28-macos-case-rename-fix-design.md
Due: none

docs: add implementation plan for macOS case-rename fix
  docs/plans/2026-02-28-macos-case-rename-fix.md
Due: none

fix: use two-step rename + git mv for case-insensitive FS in normalize-links
  packages/devportal-docs/src/commands/normalize-links.ts
  packages/devportal-docs/tests/commands/normalize-links.test.ts
Due: eslint, astro-check

fix: reconcile git index case mismatches after tarball extraction
  scripts/import-release-docs.ts
Due: eslint, astro-check

chore(ci): changed preview branch name
  .github/workflows/publish.yaml
Due: none

Add node-addon-api and node-gyp to resolve error with sharp building from source upon install
  package.json
  pnpm-lock.yaml
Due: none

chore(ci): simplify composite action and enhance import script
  .github/actions/publish-devportal-docs/action.yml
  imports/configs/algokit-utils/import.config.ts
  scripts/import-release-docs.ts
Due: eslint, astro-check

chore: temporarily remove python from import
  imports/configs/algokit-utils/import.config.ts
Due: eslint, astro-check

refactor: updated subscriber import config
  imports/configs/algokit-subscriber/import.config.ts
  imports/configs/index.ts
Due: eslint, astro-check
