Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: "eslint: Find and fix problems in your JavaScript code"
        entry: npx eslint --max-warnings=0 --no-warn-ignored
        language: node
        types_or: [javascript, jsx, ts, tsx]
        files: \.(js|jsx|ts|tsx|mjs|cjs|astro)$
        exclude: ^examples/
        fail_fast: true
        require_serial: true

      - id: prettier
        name: prettier
        description: "prettier: Opinionated Code Formatter"
        entry: npx prettier --check
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
        fail_fast: true
        require_serial: true

      - id: astro-check
        name: astro check
        description: "astro check: Check your project for errors"
        entry: npx astro check
        language: node
        pass_filenames: false
        files: \.(astro|ts|tsx)$
        fail_fast: true
        require_serial: true

Fix link to Contributor Covenant in README
  README.md
Due: none

refactor: merge language variants, update panel links, clean up sidebar
  src/components/LibraryDocsSidebar.astro
  src/components/Sidebar.astro
  src/config/libraries.ts
  src/content/docs/docs/algokit-subscriber/index.mdx
  src/content/docs/docs/algokit-utils-py/index.mdx
  src/content/docs/docs/algokit-utils-ts/index.mdx
  src/content/docs/docs/algokit-utils/accounts.mdx
  src/content/docs/docs/algokit-utils/algorand-client.mdx
  src/content/docs/docs/algokit-utils/api/account-manager.mdx
  src/content/docs/docs/algokit-utils/api/algorand-client.mdx
  src/content/docs/docs/algokit-utils/api/app-client.mdx
  src/content/docs/docs/algokit-utils/api/app-deployer.mdx
  src/content/docs/docs/algokit-utils/api/asset-manager.mdx
  src/content/docs/docs/algokit-utils/api/transaction-composer.mdx
  src/content/docs/docs/algokit-utils/app-client.mdx
  src/content/docs/docs/algokit-utils/index.mdx
  src/content/docs/docs/algokit-utils/install.mdx
  src/content/docs/docs/algokit-utils/quick-start.mdx
  src/content/docs/docs/index.mdx
Due: eslint, prettier, astro-check

fix: restore library list at top of main site sidebar
  src/components/Sidebar.astro
Due: prettier, astro-check

added image
  astro.config.mjs
  src/assets/images/utils.svg
Due: eslint

feat: dynamically swap header logo on library pages
  src/components/SiteTitle.astro
Due: prettier, astro-check

refactor: move hamburger menu to header, redesign sidebar selectors
  src/components/Header.astro
  src/components/LibraryDocsSidebar.astro
Due: prettier, astro-check

fix: move library nav to SiteTitle where it renders, shrink selectors
  src/components/Header.astro
  src/components/LibraryDocsSidebar.astro
  src/components/SiteTitle.astro
Due: prettier, astro-check

fix: render custom header for library pages to fix library nav dropdown
  src/components/Header.astro
  src/components/SiteTitle.astro
Due: prettier, astro-check

feat: replace inline library list with compact dropdown LibraryPicker
  src/components/LibraryPicker.astro
  src/components/Sidebar.astro
Due: prettier, astro-check

Updated
  astro.config.mjs
  src/components/LibraryPicker.astro
  src/components/LibrarySwitcher.astro
  src/content/docs/docs/index.mdx
Due: eslint, prettier, astro-check

refactor: place language and version pickers side by side
  src/components/LibraryDocsSidebar.astro
Due: prettier, astro-check

feat: add faceted search mockup with language filtering and library scoping
  astro.config.mjs
  src/components/Header.astro
  src/components/Search.astro
Due: eslint, prettier, astro-check

refactor: center search modal near top, remove footer and empty text
  src/components/Search.astro
Due: prettier, astro-check

fix: center search modal horizontally, position near top of viewport
  src/components/Search.astro
Due: prettier, astro-check

Fixed lint errors
  src/components/Header.astro
  src/components/LibraryDocsSidebar.astro
  src/components/LibraryPicker.astro
  src/components/LibrarySwitcher.astro
  src/components/RemoteCode.ts
  src/components/Search.astro
  src/components/Sidebar.astro
  src/components/SiteTitle.astro
  src/config/libraries.ts
  src/content/docs/docs/algokit-utils/accounts.mdx
  src/content/docs/docs/algokit-utils/algorand-client.mdx
  src/content/docs/docs/algokit-utils/api/account-manager.mdx
  src/content/docs/docs/algokit-utils/api/algorand-client.mdx
  src/content/docs/docs/algokit-utils/api/app-client.mdx
  src/content/docs/docs/algokit-utils/api/app-deployer.mdx
  src/content/docs/docs/algokit-utils/api/asset-manager.mdx
  src/content/docs/docs/algokit-utils/api/transaction-composer.mdx
  src/content/docs/docs/algokit-utils/app-client.mdx
  src/content/docs/docs/algokit-utils/index.mdx
  src/content/docs/docs/algokit-utils/quick-start.mdx
  src/content/docs/docs/algorand-typescript/index.mdx
  src/content/docs/docs/index.mdx
Due: eslint, prettier, astro-check

Added python/ts icons
  src/assets/images/python.svg
  src/assets/images/typescript.svg
Due: none

Added python/ts icons
  src/assets/images/go.svg
  src/assets/images/py.svg
  src/assets/images/ts.svg
  src/assets/images/tui.svg
Due: none

Replace text language badges with SVG icon badges
  src/components/LibraryPicker.astro
  src/components/LibrarySwitcher.astro
  src/components/Search.astro
  src/config/lang-icons.ts
  src/config/libraries.ts
Due: eslint, prettier, astro-check

Lint errors
  src/components/LibraryPicker.astro
  src/components/LibrarySwitcher.astro
  src/components/Search.astro
Due: prettier, astro-check

Replace native select pickers with custom styled dropdowns in library sidebar
  src/components/LibraryDocsSidebar.astro
Due: prettier, astro-check

Added icon
  src/assets/images/rest.svg
Due: none

Add REST API icon badge using rest.svg
  src/config/lang-icons.ts
  src/config/libraries.ts
Due: eslint, prettier, astro-check

chore: apply lint formatting to LibraryDocsSidebar
  src/components/LibraryDocsSidebar.astro
Due: prettier, astro-check

added logos
  src/assets/images/cli.svg
  src/assets/images/liquidauth.svg
  src/assets/images/nodekit.svg
  src/assets/images/subscriber.svg
Due: none

added logos
  src/assets/images/utils.svg
Due: none

added logos
  src/assets/images/algorand-python.svg
  src/assets/images/algorand-typescript.svg
Due: none

Use per-library logos in header for library pages
  src/components/SiteTitle.astro
Due: prettier, astro-check

Lint errors
  src/components/SiteTitle.astro
Due: prettier, astro-check

Replace colored dots and text headings with library logos on docs index
  src/content/docs/docs/index.mdx
Due: prettier

Use text heading for REST APIs card (no logo yet)
  src/content/docs/docs/index.mdx
Due: prettier

Align language icons immediately after library name in picker
  src/components/LibraryPicker.astro
Due: prettier, astro-check

Add Kapa AI chat panel with slide-out UI
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/AIChatPanel.tsx
  src/components/AIChatTrigger.tsx
  src/components/ChatInterface.tsx
  src/components/CustomThemeProvider.astro
  src/components/Header.astro
  src/stores/chatStore.ts
Due: eslint, prettier, astro-check

Fixed lint errors
  src/components/AIChatPanel.tsx
  src/components/AIChatTrigger.tsx
  src/components/ChatInterface.tsx
  src/components/CustomThemeProvider.astro
Due: eslint, prettier, astro-check

feat: switch to custom Kapa AI chat panel
  astro.config.mjs
  src/components/Header.astro
Due: eslint, prettier, astro-check

Add AI chat trigger to default header pages
  src/components/Header.astro
  src/components/LibraryPicker.astro
Due: prettier, astro-check

Add debug logging for INTEGRATION_ID env var
  src/components/AIChatPanel.tsx
Due: eslint, prettier, astro-check

Fix Prettier formatting in AIChatPanel
  src/components/AIChatPanel.tsx
Due: eslint, prettier, astro-check

Add build-time debug for env var and TypeScript declaration
  package.json
  src/env.d.ts
Due: eslint, prettier, astro-check

Fix shell syntax error in prebuild script
  package.json
Due: none
