Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

eslint:
  name: eslint
  description: 'eslint: Find and fix problems in your JavaScript code'
  entry: npx eslint --max-warnings=0 --no-warn-ignored
  language: node
  fail_fast: true
  require_serial: true

prettier:
  name: prettier
  description: 'prettier: Opinionated Code Formatter'
  entry: npx prettier --check
  language: node
  fail_fast: true
  require_serial: true

astro-check:
  name: astro check
  description: 'astro check: Check your project for errors'
  entry: npx astro check
  language: node
  pass_filenames: false
  fail_fast: true
  require_serial: true

feat(DVP-1191): Hide Starlight mobile sidebar toggle on library pages
  src/styles/global.css
Due: prettier

chore(DVP-1191): Delete orphaned LibrarySwitcher component
  src/components/LibrarySwitcher.astro
Due: prettier, astro-check

style(DVP-1191): Fix Prettier formatting in Header and LibraryPicker
  src/components/Header.astro
  src/components/LibraryPicker.astro
Due: prettier, astro-check

fix(DVP-1191): Address code review — add disconnectedCallback, use CSS :has() for toggle hiding
  src/components/Header.astro
  src/components/HeaderMenu.astro
  src/styles/global.css
Due: prettier, astro-check

fix(DVP-1191): Remove broken library name links from LibraryPicker — use LinkChips only
  src/components/LibraryPicker.astro
Due: prettier, astro-check

feat(DVP-1192): Extract LibraryLinkCard component with LinkChip variant navigation
  src/components/LibraryIndex.astro
  src/components/LibraryLinkCard.astro
Due: prettier, astro-check

fix(DVP-1192): Fix card layout spacing and alignment on library index
  imports/configs/algorand-python/import.config.ts
  imports/configs/algorand-typescript/import.config.ts
  src/components/LibraryIndex.astro
  src/components/LibraryLinkCard.astro
Due: eslint, prettier, astro-check

feat(DVP-1203): Inline SVG logos with theme-reactive colors
  imports/configs/algokit-cli/import.config.ts
  imports/configs/algokit-cli/logo.svg
  imports/configs/algokit-subscriber/import.config.ts
  imports/configs/algokit-subscriber/logo.svg
  imports/configs/algokit-utils/import.config.ts
  imports/configs/algokit-utils/logo.svg
  imports/configs/algorand-python/import.config.ts
  imports/configs/algorand-python/logo.svg
  imports/configs/algorand-typescript/import.config.ts
  imports/configs/algorand-typescript/logo.svg
  imports/configs/nodekit/import.config.ts
  imports/configs/nodekit/logo.svg
  imports/types.ts
  src/components/LibraryLinkCard.astro
  src/components/SiteTitle.astro
  src/config/libraries.ts
  src/content/docs/docs/index.mdx
  src/env.d.ts
Due: eslint, prettier, astro-check

style(DVP-1203): Format inline SVG span attributes
  src/components/LibraryLinkCard.astro
  src/components/SiteTitle.astro
Due: prettier, astro-check

feat(DVP-1204): Add legacy imports for AlgoKit Utils and fix subscriber mapping
  imports/configs/algokit-subscriber/import.config.ts
  imports/configs/algokit-utils/import.config.ts
  imports/configs/arc-standards/import.config.ts
  imports/configs/index.ts
Due: eslint, astro-check

fix(DVP-1204): Fix inline SVG logo colors and picker layout
  src/components/LibraryLinkCard.astro
  src/components/LibraryPicker.astro
  src/components/SiteTitle.astro
Due: prettier, astro-check

Imported utils docs
  .github-import-state.json
  src/content/docs/algokit/utils/python/account.md
  src/content/docs/algokit/utils/python/algorand-client.md
  src/content/docs/algokit/utils/python/amount.md
  src/content/docs/algokit/utils/python/app-client.md
  src/content/docs/algokit/utils/python/app-deploy.md
  src/content/docs/algokit/utils/python/app.md
  src/content/docs/algokit/utils/python/asset.md
  src/content/docs/algokit/utils/python/assets/lifecycle-1771251552492.jpg
  src/content/docs/algokit/utils/python/client.md
  src/content/docs/algokit/utils/python/debugging.md
  src/content/docs/algokit/utils/python/dispenser-client.md
  src/content/docs/algokit/utils/python/overview.md
  src/content/docs/algokit/utils/python/testing.md
  src/content/docs/algokit/utils/python/transaction-composer.md
  src/content/docs/algokit/utils/python/transaction.md
  src/content/docs/algokit/utils/python/transfer.md
  src/content/docs/algokit/utils/python/typed-app-clients.md
  src/content/docs/algokit/utils/python/v3-migration-guide.md
  src/content/docs/algokit/utils/typescript/account.md
  src/content/docs/algokit/utils/typescript/algorand-client.md
  src/content/docs/algokit/utils/typescript/amount.md
  src/content/docs/algokit/utils/typescript/app-client.md
  src/content/docs/algokit/utils/typescript/app-deploy.md
  src/content/docs/algokit/utils/typescript/app.md
  src/content/docs/algokit/utils/typescript/asset.md
  src/content/docs/algokit/utils/typescript/assets/lifecycle-1771251546444.jpg
  src/content/docs/algokit/utils/typescript/client.md
  src/content/docs/algokit/utils/typescript/debugging.md
  src/content/docs/algokit/utils/typescript/dispenser-client.md
  src/content/docs/algokit/utils/typescript/event-emitter.md
  src/content/docs/algokit/utils/typescript/indexer.md
  src/content/docs/algokit/utils/typescript/overview.md
  src/content/docs/algokit/utils/typescript/testing.md
  src/content/docs/algokit/utils/typescript/transaction-composer.md
  src/content/docs/algokit/utils/typescript/transaction.md
  src/content/docs/algokit/utils/typescript/transfer.md
  src/content/docs/algokit/utils/typescript/typed-app-clients.md
  src/content/docs/algokit/utils/typescript/v7-migration.md
  src/content/docs/algokit/utils/typescript/v8-migration.md
Due: prettier

Minor fixes
  imports/configs/algokit-subscriber/import.config.ts
  imports/configs/index.ts
  src/content/docs/algokit/subscriber/typescript/overview.md
Due: eslint, prettier, astro-check

fix(DVP-1205): Standardize linkTransform across all import configs
  .github-import-state.json
  astro.config.mjs
  imports/configs/algokit-subscriber/import.config.ts
  imports/configs/index.ts
  imports/configs/nodekit/import.config.ts
  imports/transforms/links.ts
  src/content/docs/algokit/subscriber/typescript/overview.md
  src/content/docs/algokit/subscriber/typescript/subscriber.md
  src/content/docs/algokit/subscriber/typescript/subscriptions.md
  src/content/docs/algokit/utils/python/assets/lifecycle-1771256630552.jpg
  src/content/docs/algokit/utils/python/assets/lifecycle-1771256764123.jpg
  src/content/docs/algokit/utils/typescript/app-deploy.md
  src/content/docs/algokit/utils/typescript/assets/lifecycle-1771256761790.jpg
  src/content/docs/docs/algokit-subscriber/typescript/latest/api/README.md
  src/content/docs/docs/algokit-subscriber/typescript/latest/api/modules.md
  src/content/docs/docs/algokit-subscriber/typescript/latest/api/subscriber.md
  src/content/docs/docs/algokit-subscriber/typescript/latest/api/subscriptions.md
  src/content/docs/docs/algokit-subscriber/typescript/latest/api/types.md
  src/content/docs/docs/algokit-subscriber/typescript/latest/api/types/subscription.md
  src/content/docs/docs/algokit-subscriber/typescript/latest/guides/README.md
  src/content/docs/docs/algokit-subscriber/typescript/latest/guides/subscriber.md
  src/content/docs/docs/algokit-subscriber/typescript/latest/guides/subscriptions.md
  src/content/docs/docs/algokit-utils/python/latest/guides/assets/lifecycle-1771256523097.jpg
  src/content/docs/docs/algokit-utils/python/latest/guides/assets/lifecycle-1771256723863.jpg
  src/content/docs/docs/algokit-utils/typescript/latest/guides/app-deploy.md
  src/content/docs/docs/algokit-utils/typescript/latest/guides/assets/lifecycle-1771256712269.jpg
Due: eslint, prettier, astro-check

refactor(DVP-1205): remove redundant stripPrefixes from all import configs
  imports/configs/algokit-cli/import.config.ts
  imports/configs/algokit-subscriber/import.config.ts
  imports/configs/algokit-utils/import.config.ts
  imports/configs/algorand-python/import.config.ts
  imports/configs/algorand-typescript/import.config.ts
  imports/configs/nodekit/import.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, astro-check

Update .husky/pre-commit
  .husky/pre-commit
Due: none

fix(DVP-1205): Update loader to v0.14.5, re-import with fixed bare-path resolution
  .github-import-state.json
  package.json
  pnpm-lock.yaml
  src/content/docs/algokit/utils/python/assets/lifecycle-1771278475683.jpg
  src/content/docs/algokit/utils/python/assets/lifecycle-1771279126981.jpg
  src/content/docs/algokit/utils/python/assets/lifecycle-1771280472808.jpg
  src/content/docs/algokit/utils/python/assets/lifecycle-1771281772081.jpg
  src/content/docs/algokit/utils/python/assets/lifecycle-1771283810832.jpg
  src/content/docs/algokit/utils/typescript/app-deploy.md
  src/content/docs/algokit/utils/typescript/assets/lifecycle-1771283807362.jpg
  src/content/docs/docs/algokit-utils/python/latest/guides/assets/lifecycle-1771278371011.jpg
  src/content/docs/docs/algokit-utils/python/latest/guides/assets/lifecycle-1771279026103.jpg
  src/content/docs/docs/algokit-utils/python/latest/guides/assets/lifecycle-1771280385502.jpg
  src/content/docs/docs/algokit-utils/python/latest/guides/assets/lifecycle-1771281664589.jpg
  src/content/docs/docs/algokit-utils/python/latest/guides/assets/lifecycle-1771283708922.jpg
  src/content/docs/docs/algokit-utils/typescript/latest/guides/app-deploy.md
  src/content/docs/docs/algokit-utils/typescript/latest/guides/assets/lifecycle-1771283671057.jpg
  src/content/docs/docs/algorand-python/python/latest/api/api-algopy.arc4.md
Due: prettier

chore(DVP-1205): Disable errorOnRelativeLinks until remaining broken links resolved
  astro.config.mjs
Due: eslint

style(DVP-1205): Fix prettier formatting in reimported api-algopy.arc4.md
  src/content/docs/docs/algorand-python/python/latest/api/api-algopy.arc4.md
Due: prettier

fix(DVP-1205): Fix 264 broken relative links and re-enable errorOnRelativeLinks
  astro.config.mjs
  src/content/docs/algokit/algokit-intro.mdx
  src/content/docs/arc-standards/arc-0089.md
  src/content/docs/concepts/assets/known-assets.mdx
  src/content/docs/concepts/assets/overview.mdx
  src/content/docs/concepts/smart-contracts/abi.mdx
  src/content/docs/concepts/smart-contracts/logic-sigs.mdx
  src/content/docs/concepts/smart-contracts/storage/box.mdx
  src/content/docs/concepts/smart-contracts/storage/overview.mdx
  src/content/docs/concepts/transactions/atomic-txn-groups.mdx
Due: eslint, prettier

feat: add overviewOrderTransform and fix index.md sidebar ordering
  astro.config.mjs
  auto-sidebar-config.yml
  imports/configs/algokit-cli/import.config.ts
  imports/configs/algokit-subscriber/import.config.ts
  imports/configs/algokit-utils/import.config.ts
  imports/configs/algorand-python/import.config.ts
  imports/configs/algorand-typescript/import.config.ts
  imports/configs/nodekit/import.config.ts
  imports/transforms/common.ts
  src/content/config.ts
Due: eslint, prettier, astro-check

chore: reimport content with sidebar order transforms and fixed entry IDs
  .github-import-state.json
  src/content/docs/algokit/languages/python/overview.md
  src/content/docs/algokit/languages/typescript/overview.md
  src/content/docs/algokit/subscriber/typescript/overview.md
  src/content/docs/algokit/utils/python/assets/lifecycle-1771341615357.jpg
  src/content/docs/algokit/utils/python/assets/lifecycle-1771345990429.jpg
  src/content/docs/algokit/utils/typescript/app-deploy.md
  src/content/docs/algokit/utils/typescript/assets/lifecycle-1771345986745.jpg
  src/content/docs/algokit/utils/typescript/overview.md
  src/content/docs/arc-standards/arc-0089.md
  src/content/docs/docs/algokit-cli/python/latest/index.md
  src/content/docs/docs/algokit-subscriber/typescript/latest/guides/README.md
  src/content/docs/docs/algokit-utils/python/latest/api/_meta.yml
  src/content/docs/docs/algokit-utils/python/latest/guides/_meta.yml
  src/content/docs/docs/algokit-utils/python/latest/guides/assets/lifecycle-1771341507455.jpg
  src/content/docs/docs/algokit-utils/python/latest/guides/assets/lifecycle-1771345879159.jpg
  src/content/docs/docs/algokit-utils/typescript/latest/api/README.md
  src/content/docs/docs/algokit-utils/typescript/latest/api/_meta.yml
  src/content/docs/docs/algokit-utils/typescript/latest/api/modules/index.md
  src/content/docs/docs/algokit-utils/typescript/latest/guides/_meta.yml
  src/content/docs/docs/algokit-utils/typescript/latest/guides/app-deploy.md
  src/content/docs/docs/algokit-utils/typescript/latest/guides/assets/lifecycle-1771345836395.jpg
  src/content/docs/docs/algokit-utils/typescript/latest/index.md
  src/content/docs/docs/algorand-python/python/latest/api/_meta.yml
  src/content/docs/docs/algorand-python/python/latest/api/api-algopy.arc4.md
  src/content/docs/docs/algorand-python/python/latest/api/front-end-guide/_meta.yml
  src/content/docs/docs/algorand-python/python/latest/api/front-end-guide/overview.md
  src/content/docs/docs/algorand-python/python/latest/guides/overview.md
  src/content/docs/docs/algorand-typescript/typescript/latest/api/_meta.yml
  src/content/docs/docs/algorand-typescript/typescript/latest/api/arc4/-internal-/README.md
  src/content/docs/docs/algorand-typescript/typescript/latest/api/gtxn/namespaces/gtxn/README.md
  src/content/docs/docs/algorand-typescript/typescript/latest/api/index/-internal-/README.md
  src/content/docs/docs/algorand-typescript/typescript/latest/api/index/namespaces/Bytes/README.md
  src/content/docs/docs/algorand-typescript/typescript/latest/api/itxn/namespaces/itxn/README.md
  src/content/docs/docs/algorand-typescript/typescript/latest/guides/overview.md
Due: prettier

Fixed lint errors
  auto-sidebar-config.yml
  src/content/docs/docs/algokit-cli/python/latest/guides/_meta.yml
  src/content/docs/docs/algorand-python/python/latest/api/api-algopy.arc4.md
Due: prettier

feat(DVP-1206): add SidebarMetadata types for glob-based sidebar config
  imports/types.ts
Due: eslint, astro-check

feat(DVP-1206): add sidebarMetadata exports to all library sidebar configs
  imports/configs/algokit-cli/sidebar.config.ts
  imports/configs/algokit-subscriber/sidebar.config.ts
  imports/configs/algokit-utils/sidebar.config.ts
  imports/configs/algorand-python/sidebar.config.ts
  imports/configs/algorand-typescript/sidebar.config.ts
  imports/configs/nodekit/sidebar.config.ts
Due: eslint, astro-check

feat(DVP-1206): add SIDEBAR_METADATA barrel export
  imports/configs/index.ts
Due: eslint, astro-check

feat(DVP-1206): create TypeScript sidebar meta generator with glob pattern matching
  scripts/manage-sidebar-meta.ts
  scripts/register-svg-loader.mjs
  scripts/svg-loader.mjs
Due: eslint, astro-check

refactor(DVP-1206): decouple sidebar configs from import configs and delete legacy files
  README.md
  auto-sidebar-config.yml
  imports/configs/algokit-cli/sidebar.config.ts
  imports/configs/algokit-subscriber/sidebar.config.ts
  imports/configs/algokit-utils/sidebar.config.ts
  imports/configs/algorand-python/sidebar.config.ts
  imports/configs/algorand-typescript/sidebar.config.ts
  imports/configs/nodekit/sidebar.config.ts
  package.json
  scripts/manage-sidebar-meta.js
  scripts/manage-sidebar-meta.ts
  scripts/register-svg-loader.mjs
  scripts/svg-loader.mjs
Due: eslint, astro-check

fix(DVP-1206): address review feedback and regenerate _meta.yml files
  imports/configs/index.ts
  imports/types.ts
  package.json
  pnpm-lock.yaml
  scripts/manage-sidebar-meta.ts
  src/content/docs/docs/algokit-cli/python/latest/guides/_meta.yml
  src/content/docs/docs/algokit-utils/python/latest/_meta.yml
  src/content/docs/docs/algokit-utils/python/latest/guides/_meta.yml
  src/content/docs/docs/algokit-utils/typescript/latest/_meta.yml
  src/content/docs/docs/algokit-utils/typescript/latest/api/_meta.yml
  src/content/docs/docs/algokit-utils/typescript/latest/guides/_meta.yml
  src/content/docs/docs/algorand-python/python/latest/api/_meta.yml
  src/content/docs/docs/algorand-python/python/latest/api/front-end-guide/_meta.yml
  src/content/docs/docs/algorand-typescript/typescript/latest/api/_meta.yml
Due: eslint, astro-check

fix(DVP-1206): fix lint/prettier formatting in _meta.yml files
  src/content/docs/docs/algokit-cli/python/latest/guides/_meta.yml
  src/content/docs/docs/algokit-utils/python/latest/_meta.yml
  src/content/docs/docs/algokit-utils/python/latest/api/_meta.yml
  src/content/docs/docs/algokit-utils/python/latest/guides/_meta.yml
  src/content/docs/docs/algokit-utils/typescript/latest/_meta.yml
  src/content/docs/docs/algokit-utils/typescript/latest/api/_meta.yml
  src/content/docs/docs/algokit-utils/typescript/latest/guides/_meta.yml
  src/content/docs/docs/algorand-python/python/latest/api/_meta.yml
  src/content/docs/docs/algorand-python/python/latest/api/front-end-guide/_meta.yml
  src/content/docs/docs/algorand-typescript/typescript/latest/api/_meta.yml
Due: none

refactor(DVP-1206): abstract sidebar label convention into utility module
  imports/configs/algokit-cli/sidebar.config.ts
  imports/configs/algokit-subscriber/sidebar.config.ts
  imports/configs/algokit-utils/sidebar.config.ts
  imports/configs/algorand-python/sidebar.config.ts
  imports/configs/algorand-typescript/sidebar.config.ts
  imports/configs/nodekit/sidebar.config.ts
  imports/sidebar.ts
  imports/types.ts
  scripts/manage-sidebar-meta.ts
  src/components/LibraryDocsSidebar.astro
  src/components/Sidebar.astro
Due: eslint, prettier, astro-check

chore(DVP-1195): register @astrojs/react integration
  astro.config.mjs
Due: eslint

chore(DVP-1195): add Kapa SDK and chat panel dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat(DVP-1195): add chat panel state store
  src/stores/chatStore.ts
Due: eslint, prettier, astro-check

feat(DVP-1195): add Catppuccin Mocha syntax highlighting theme
  src/styles/catppuccin-mocha-prism.ts
Due: eslint, prettier, astro-check

feat(DVP-1195): add AI chat trigger button component
  src/components/AIChatTrigger.tsx
Due: eslint, prettier, astro-check

feat(DVP-1195): add AI chat panel container (no pin mode)
  src/components/AIChatPanel.tsx
Due: eslint, prettier, astro-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs|astro)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^examples/)
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
  astro-check: any of: \.(astro|ts|tsx)$
