Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: "eslint: Find and fix problems in your JavaScript code"
        entry: npx eslint --max-warnings=0 --no-warn-ignored
        language: node
        types_or: [javascript, jsx, ts, tsx]
        files: \.(js|jsx|ts|tsx|mjs|cjs|astro)$
        exclude: ^examples/
        fail_fast: true
        require_serial: true

      - id: prettier
        name: prettier
        description: "prettier: Opinionated Code Formatter"
        entry: npx prettier --check
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
        fail_fast: true
        require_serial: true

      - id: astro-check
        name: astro check
        description: "astro check: Check your project for errors"
        entry: npx astro check
        language: node
        pass_filenames: false
        files: \.(astro|ts|tsx)$
        fail_fast: true
        require_serial: true

fix: linting and build
  src/content/docs/getting-started/tutorials/first-smart-contract.mdx
  src/content/docs/getting-started/tutorials/get-ready-to-build.mdx
Due: prettier

Compress AGENTS.md to <200 lines
  src/content/docs/AGENTS.md
Due: prettier

Fix error in astro check caused by presence of AGENTS.md
  src/content/docs/AGENTS.md
Due: prettier

docs: update README with project structure formatting and add deployment section
  README.md
Due: none

feat: setup security best practices guide
  astro.config.mjs
  src/content/docs/resources/overview.mdx
  src/content/docs/resources/security-best-practices.mdx
Due: eslint, prettier

feat: renovate security guide
  src/content/docs/resources/security-best-practices.mdx
Due: prettier

fix broken links
  src/content/docs/algokit/subscriber/python/overview.md
Due: prettier

fix formatting
  src/content/docs/algokit/subscriber/python/overview.md
Due: prettier

fix: convert relative link to absolute path for cloudflare deployment (2nd fix)
  src/content/docs/algokit/subscriber/python/overview.md
Due: prettier

Add: read response body
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

Add: Lint
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

Migrate x402 tutorial to pnpm
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

Add acronym definition guidelines to AGENTS.md
  src/content/docs/AGENTS.md
Due: prettier

feat: kapa MCP one-click add to IDE
  astro.config.mjs
Due: eslint

refactor: atomic transactions concepts page
  astro.config.mjs
  src/content/docs/concepts/transactions/atomic-txn-groups.mdx
  src/content/docs/getting-started/tutorials/atomic-transaction-groups-with-goal.mdx
  src/content/docs/getting-started/tutorials/your-first-transaction.mdx
Due: eslint, prettier

fix: python code examples for first transaction tutorial
  src/content/docs/getting-started/tutorials/your-first-transaction.mdx
Due: prettier

multisig; headings
  src/content/docs/concepts/accounts/create.mdx
  src/content/docs/concepts/accounts/multisig.mdx
  src/content/docs/concepts/accounts/overview.mdx
Due: prettier

fix: dark mode text colour
  src/components/CustomThemeProvider.astro
Due: prettier, astro-check

fix: lint and build
  src/components/CustomThemeProvider.astro
Due: prettier, astro-check

refactor: goal tutorial moved to hidden docs
  astro.config.mjs
  src/content/docs/_HIDDEN-DOCs/atomic-transaction-groups-with-goal.mdx
  src/content/docs/concepts/transactions/atomic-txn-groups.mdx
Due: eslint, prettier

refactor: using new styling hooks
  astro.config.mjs
  src/components/CustomThemeProvider.astro
Due: eslint, prettier, astro-check

Merge pull request #617 from algorandfoundation/update-x402
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

Remove GTM and reinstall Plausible for analytics
  astro.config.mjs
Due: eslint

perf: defer Plausible & Kapa scripts to unblock page rendering
  astro.config.mjs
Due: eslint

ci: bump softprops/action-gh-release to v3 for node 24 runtime
  .github/actions/publish-devportal-docs/action.yml
Due: none

fix: update transform-context test helper import
  tests/helpers/transform-context.ts
Due: eslint, astro-check

fix: update tutorial links for imported algokit docs
  src/content/docs/getting-started/tutorials/first-smart-contract.mdx
  src/content/docs/getting-started/tutorials/get-ready-to-build.mdx
  src/content/docs/getting-started/tutorials/your-first-asset.mdx
Due: prettier

Hide NodeKit from library picker
  DEPLOYMENT.md
  imports/configs/index.ts
Due: eslint, astro-check

fix: restore header social icons
  src/components/SocialIcons.astro
Due: prettier, astro-check

feat: replace custom AI chat with Kapa widget
  .env.example
  .github/workflows/acceptance.yml
  .github/workflows/publish.yaml
  .gitignore
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/AIChatPanel.tsx
  src/components/AIChatTrigger.tsx
  src/components/ChatInterface.tsx
  src/components/CustomThemeProvider.astro
  src/components/Header.astro
  src/env.d.ts
  src/lib/kapaWidget.ts
  src/stores/chatStore.ts
  src/styles/catppuccin-mocha-prism.ts
  src/styles/components.css
Due: eslint, prettier, astro-check

multisig and defly edits
  src/content/docs/concepts/accounts/overview.mdx
Due: prettier

add bazaar integration
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

docs: update CloseRemainderTo documentation
  src/content/docs/concepts/transactions/types.mdx
Due: prettier

docs: use neutral wording for close field
  src/content/docs/concepts/transactions/types.mdx
Due: prettier

feat: scripts & workflow keeping opcode docs synced with protocol
  .github/workflows/update-opcodes.yml
  README.md
  package.json
  scripts/generate-opcode-list.js
  scripts/update-opcodes.ts
  src/styles/components.css
  templates/opcodes.md.hbs
Due: eslint, prettier, astro-check

feat: update TEAL opcodes page
  src/content/docs/reference/algorand-teal/opcodes.json
  src/content/docs/reference/algorand-teal/opcodes.mdx
Due: prettier

docs: reword and review style feedback
  src/content/docs/concepts/transactions/types.mdx
Due: prettier

docs: update wording after local tests
  src/content/docs/concepts/transactions/types.mdx
Due: prettier

docs: add example to close account section
  src/content/docs/concepts/transactions/types.mdx
Due: prettier
