Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: "eslint: Find and fix problems in your JavaScript code"
        entry: npx eslint --max-warnings=0 --no-warn-ignored
        language: node
        types_or: [javascript, jsx, ts, tsx]
        files: \.(js|jsx|ts|tsx|mjs|cjs|astro)$
        exclude: ^examples/
        fail_fast: true
        require_serial: true

      - id: prettier
        name: prettier
        description: "prettier: Opinionated Code Formatter"
        entry: npx prettier --check
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
        fail_fast: true
        require_serial: true

      - id: astro-check
        name: astro check
        description: "astro check: Check your project for errors"
        entry: npx astro check
        language: node
        pass_filenames: false
        files: \.(astro|ts|tsx)$
        fail_fast: true
        require_serial: true

docs(lib-algokit-subscriber-py): imported release with devportal integration updates
  src/content/docs/docs/algokit-subscriber/python/latest/api/algokit_subscriber/index.md
  src/content/docs/docs/algokit-subscriber/python/latest/api/algokit_subscriber/types/arc28/index.md
  src/content/docs/docs/algokit-subscriber/python/latest/api/algokit_subscriber/types/event_emitter/index.md
  src/content/docs/docs/algokit-subscriber/python/latest/api/algokit_subscriber/types/index.md
  src/content/docs/docs/algokit-subscriber/python/latest/api/algokit_subscriber/types/subscription/index.md
  src/content/docs/docs/algokit-subscriber/python/latest/concepts/arc28-events.md
  src/content/docs/docs/algokit-subscriber/python/latest/concepts/emit-arc28-events.md
  src/content/docs/docs/algokit-subscriber/python/latest/concepts/fast-catchup.md
  src/content/docs/docs/algokit-subscriber/python/latest/concepts/filtering.md
  src/content/docs/docs/algokit-subscriber/python/latest/concepts/inner-transactions.md
  src/content/docs/docs/algokit-subscriber/python/latest/concepts/low-latency.md
  src/content/docs/docs/algokit-subscriber/python/latest/concepts/state-proofs.md
  src/content/docs/docs/algokit-subscriber/python/latest/concepts/sync-behaviour.md
  src/content/docs/docs/algokit-subscriber/python/latest/concepts/watermarking.md
  src/content/docs/docs/algokit-subscriber/python/latest/examples/01-basic-poll-once.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/02-continuous-subscriber.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/03-payment-filters.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/04-asset-transfer.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/05-app-call.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/06-multiple-filters.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/07-balance-changes.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/08-arc28-events.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/09-inner-transactions.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/10-batch-and-mappers.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/11-watermark-persistence.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/12-sync-behaviours.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/13-custom-filters.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/14-stateless-subscriptions.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/15-lifecycle-hooks.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/examples/index.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/guide/subscriber.md
  src/content/docs/docs/algokit-subscriber/python/latest/guide/subscriptions.md
  src/content/docs/docs/algokit-subscriber/python/latest/index.mdx
  src/content/docs/docs/algokit-subscriber/python/latest/sidebar.json
  src/content/docs/docs/algokit-subscriber/python/latest/tutorials/quick-start.md
Due: prettier

chore(ci): add branch for preview
  .github/workflows/publish.yaml
Due: none

fix: broken links
  astro.config.mjs
  src/content/docs/algokit/algokit-intro.mdx
  src/content/docs/algokit/avm-debugger.mdx
  src/content/docs/concepts/smart-contracts/languages/python.mdx
  src/content/docs/concepts/smart-contracts/languages/typescript.mdx
Due: eslint, prettier

refactor(nav): promote library picker to header, redesign library sidebar
  imports/configs/algokit-utils/logo.svg
  src/components/Header.astro
  src/components/HeaderLibraryPicker.astro
  src/components/HeaderMenu.astro
  src/components/LibraryDocsSidebar.astro
  src/components/LibraryPicker.astro
  src/components/Sidebar.astro
  src/components/SiteTitle.astro
  src/styles/components.css
Due: prettier, astro-check

refactor(ui): icon-only search with OS-aware shortcut tooltip, tighter header and sidebar
  imports/configs/algokit-cli/logo.svg
  imports/configs/algokit-subscriber/logo.svg
  src/components/CustomSearch.astro
  src/components/Header.astro
  src/components/HeaderLibraryPicker.astro
  src/components/LibraryDocsSidebar.astro
Due: prettier, astro-check

Moved sdk from references to additional resources
  astro.config.mjs
  src/content/docs/resources/sdk/sdk-list.mdx
Due: eslint, prettier

refactor(algokit-cli): switch docs import to github-artifact strategy
  imports/configs/algokit-cli/import.config.ts
  imports/configs/index.ts
  src/content/docs/algokit/cli/compile.md
  src/content/docs/algokit/cli/completions.md
  src/content/docs/algokit/cli/config.md
  src/content/docs/algokit/cli/dispenser.md
  src/content/docs/algokit/cli/doctor.md
  src/content/docs/algokit/cli/explore.md
  src/content/docs/algokit/cli/generate.md
  src/content/docs/algokit/cli/goal.md
  src/content/docs/algokit/cli/init.md
  src/content/docs/algokit/cli/localnet.md
  src/content/docs/algokit/cli/overview.md
  src/content/docs/algokit/cli/project.md
  src/content/docs/algokit/cli/project/bootstrap.md
  src/content/docs/algokit/cli/project/deploy.md
  src/content/docs/algokit/cli/project/link.md
  src/content/docs/algokit/cli/project/list.md
  src/content/docs/algokit/cli/project/run.md
  src/content/docs/algokit/cli/tasks.md
  src/content/docs/algokit/cli/tasks/analyze.md
  src/content/docs/algokit/cli/tasks/ipfs.md
  src/content/docs/algokit/cli/tasks/mint.md
  src/content/docs/algokit/cli/tasks/nfd.md
  src/content/docs/algokit/cli/tasks/opt.md
  src/content/docs/algokit/cli/tasks/send.md
  src/content/docs/algokit/cli/tasks/sign.md
  src/content/docs/algokit/cli/tasks/transfer.md
  src/content/docs/algokit/cli/tasks/vanity_address.md
  src/content/docs/algokit/cli/tasks/wallet.md
Due: eslint, prettier, astro-check

refactor(algorand-typescript): switch docs import to github-artifact strategy
  astro.config.mjs
  imports/configs/algorand-typescript/import.config.ts
  imports/configs/index.ts
  src/content/docs/algokit/languages/typescript/guiding-principles.md
  src/content/docs/algokit/languages/typescript/language-guide.md
  src/content/docs/algokit/languages/typescript/lg-itxns.md
  src/content/docs/algokit/languages/typescript/lg-ops.md
  src/content/docs/algokit/languages/typescript/lg-program-structure.md
  src/content/docs/algokit/languages/typescript/lg-storage.md
  src/content/docs/algokit/languages/typescript/lg-types.md
  src/content/docs/algokit/languages/typescript/migration-guides.md
  src/content/docs/algokit/languages/typescript/overview.md
Due: eslint, prettier, astro-check

fix: broken links
  src/content/docs/algokit/algokit-intro.mdx
  src/content/docs/algokit/custom-algokit-templates.mdx
  src/content/docs/getting-started/algokit-quick-start.mdx
Due: prettier

first draft x402 step-by-step
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

Update x402 tutorial structure and content
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

Add x402 flow diagram image
  src/assets/images/x402-flow.png
Due: none

chore: add tslib dependency so builds pass
  package.json
  pnpm-lock.yaml
Due: none

fix: prefix unused parameters to resolve ts6133 warnings
  imports/transforms/common.ts
  imports/transforms/content.ts
  imports/transforms/frontmatter.ts
  imports/transforms/links.ts
Due: eslint, astro-check

fix: resolve deprecated API usage warnings in components
  src/components/ChatInterface.tsx
  src/components/CustomSearch.astro
  src/components/Hero.astro
Due: eslint, prettier, astro-check

docs: add missing env vars to README and create .env.example
  .env.example
  README.md
Due: none

refactor: Why Algorand Core Pillars
  src/content/docs/getting-started/why-algorand.mdx
Due: prettier

add: Why Algorand DevEx Section
  src/content/docs/getting-started/why-algorand.mdx
Due: prettier

fix: resolve broken library picker links for NodeKit and Algorand Python
  astro.config.mjs
  imports/configs/nodekit/import.config.ts
  src/content/docs/docs/algorand-python/python/latest/index.md
  src/content/docs/docs/nodekit/go/latest/nodekit.md
Due: eslint, prettier, astro-check

fix: add defaultPage to library config for libraries without an index page
  imports/configs/algorand-python/import.config.ts
  imports/configs/nodekit/import.config.ts
  imports/types.ts
  src/config/libraries.ts
  src/content/docs/docs/algorand-python/python/latest/index.md
Due: eslint, prettier, astro-check

fix: restore nodekit slug to commands (defaultPage handles routing)
  astro.config.mjs
  src/content/docs/docs/nodekit/go/latest/nodekit.md
Due: eslint, prettier

fix: lint errors
  src/content/docs/docs/algokit-subscriber/python/latest/api/algokit_subscriber/types/arc28/index.md
  src/content/docs/docs/algokit-subscriber/python/latest/api/algokit_subscriber/types/subscription/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/accounts/account_manager/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/algorand/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/applications/abi/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/applications/app_client/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/applications/app_deployer/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/applications/app_factory/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/applications/app_manager/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/assets/asset_manager/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/clients/client_manager/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/clients/dispenser_api_client/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/config/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/errors/logic_error/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/models/account/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/models/amount/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/models/application/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/models/network/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/models/state/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/models/transaction/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/transactions/builders/common/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/transactions/fee_coverage/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/transactions/transaction_composer/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/transactions/transaction_creator/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/transactions/transaction_sender/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algokit_utils/transactions/types/index.md
Due: prettier

fix: prevent chat panel flash during view transition navigation
  src/components/AIChatPanel.tsx
Due: eslint, prettier, astro-check

fix: remove chat panel CSS transitions to prevent flash during view transitions
  src/components/AIChatPanel.tsx
Due: eslint, prettier, astro-check

feat: facelift the additional resources overview page
  src/content/docs/resources/overview.mdx
Due: prettier

refactor x402 tutorial based on review feedback
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

Refine x402 on Algorand tutorial
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

Remove unused BulletList import
  src/content/docs/algokit/utils/algokit-clients.mdx
Due: prettier

Remove unused import from puya config
  imports/configs/puya.ts
Due: eslint, astro-check

Add x402 on Algorand tutorial
  src/assets/images/x402-flow.png
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

Add x402 tutorial to Additional Resources sidebar and add description frontmatter
  astro.config.mjs
  src/content/docs/resources/x402-on-algorand.mdx
Due: eslint, prettier

Improve x402 tutorial intro flow and setup readability
  src/content/docs/resources/x402-on-algorand.mdx
Due: prettier

stub out page
  astro.config.mjs
  src/content/docs/resources/algo-x-evm.mdx
Due: eslint, prettier

fix: typos and links
  src/content/docs/getting-started/why-algorand.mdx
Due: prettier
