Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: "eslint: Find and fix problems in your JavaScript code"
        entry: npx eslint --max-warnings=0 --no-warn-ignored
        language: node
        types_or: [javascript, jsx, ts, tsx]
        files: \.(js|jsx|ts|tsx|mjs|cjs|astro)$
        exclude: ^examples/
        fail_fast: true
        require_serial: true

      - id: prettier
        name: prettier
        description: "prettier: Opinionated Code Formatter"
        entry: npx prettier --check
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
        fail_fast: true
        require_serial: true

      - id: astro-check
        name: astro check
        description: "astro check: Check your project for errors"
        entry: npx astro check
        language: node
        pass_filenames: false
        files: \.(astro|ts|tsx)$
        fail_fast: true
        require_serial: true

Updated acceptance workflow
  .github/workflows/acceptance.yml
Due: none

DVP-1189: Fix inline scripts for View Transition compatibility
  src/components/DropDown.astro
  src/components/OpcodeFilters.astro
Due: prettier, astro-check

Fixed lint errors
  src/components/DropDown.astro
Due: prettier, astro-check

feat(DVP-1190): Add library sidebar and navigation components
  astro.config.mjs
  src/components/LibraryDocsSidebar.astro
  src/components/LibraryPicker.astro
  src/components/LibrarySwitcher.astro
  src/components/Sidebar.astro
Due: eslint, prettier, astro-check

feat(DVP-1191): Add library logo detection to SiteTitle
  src/components/SiteTitle.astro
Due: prettier, astro-check

refactor(DVP-1191): Centralize library logos and fix type coverage
  imports/configs/library-logos.ts
  package.json
  pnpm-lock.yaml
  src/components/SiteTitle.astro
  tsconfig.json
Due: eslint, prettier, astro-check

Address PR review findings for SiteTitle library detection
  imports/configs/library-logos.ts
  imports/types.ts
  src/components/SiteTitle.astro
Due: eslint, prettier, astro-check

feat(DVP-1193): Add library and version schema fields to content config
  src/content/config.ts
Due: eslint, prettier, astro-check

Added skills for astro dev
  .claude/skills/astro-coding/SKILL.md
  .claude/skills/astro-coding/references/README.md
Due: none

Fixed lint errors
  src/components/SiteTitle.astro
Due: prettier, astro-check

refactor(DVP-1191): Remove phantom version entries from library configs
  imports/configs/algokit-cli/algokit-cli.import.ts
  imports/configs/algokit-subscriber/algokit-subscriber.import.ts
  imports/configs/algokit-utils/algokit-utils.import.ts
  imports/configs/algorand-python/algorand-python.import.ts
Due: eslint, astro-check

feat(DVP-1192): Add data-driven library index page
  src/components/LibraryIndex.astro
  src/content/docs/docs/index.mdx
Due: prettier, astro-check

fix(DVP-1192): Fix Prettier formatting and replace any with proper type
  src/components/LibraryIndex.astro
  src/config/libraries.ts
Due: eslint, prettier, astro-check

fix(DVP-1192): Derive StarlightSidebarEntry from public API instead of hand-written mirror
  src/config/libraries.ts
Due: eslint, prettier, astro-check

refactor(DVP-1192): Address code review findings for type safety
  src/components/LibraryIndex.astro
  src/config/libraries.ts
Due: eslint, prettier, astro-check

Fixed lint errors
  src/content/docs/docs/algokit-utils/python/latest/api/accounts/account_manager/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algorand/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/applications/abi/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/applications/app_client/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/applications/app_deployer/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/applications/app_factory/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/applications/app_manager/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/applications/app_spec/arc32/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/applications/app_spec/arc56/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/assets/asset_manager/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/clients/client_manager/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/clients/dispenser_api_client/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/config/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/errors/logic_error/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/models/account/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/models/amount/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/models/application/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/models/network/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/models/simulate/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/models/state/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/models/transaction/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/transactions/transaction_composer/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/transactions/transaction_creator/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/transactions/transaction_sender/index.md
Due: prettier

feat(DVP-1194): Enable sidebar navigation for library pages
  astro.config.mjs
  src/components/LibraryDocsSidebar.astro
  src/components/Sidebar.astro
Due: eslint, prettier, astro-check

fix: disable husky hooks for automated doc import commits
  .github/workflows/import-docs.yml
Due: none

refactor(DVP-1194): Extract sidebar config to per-library files
  .github/workflows/publish.yaml
  astro.config.mjs
  imports/configs/algokit-utils/sidebar.config.ts
Due: eslint, astro-check

docs: Import updated documentation
  .github-import-state.json
  src/content/docs/arc-standards/arc-0089.md
Due: prettier

feat(DVP-1190): Add LinkChip component and redesign LibraryPicker variant links
  src/components/LibraryPicker.astro
  src/components/LinkChip.astro
  src/styles/global.css
Due: prettier, astro-check

fix(DVP-1193): Always include language segment in library URLs
  src/config/libraries.ts
Due: eslint, prettier, astro-check

fix(DVP-1193): Remove unused currentPagePath variable
  src/components/LibraryDocsSidebar.astro
Due: prettier, astro-check

refactor(DVP-1193): Remove library API entries from Reference sidebar
  astro.config.mjs
Due: eslint

feat(DVP-1193): Add dual import target for algokit-cli guides
  imports/configs/algokit-cli/algokit-cli.import.ts
Due: eslint, astro-check

feat(DVP-1193): Add dual import target for algorand-python guides
  imports/configs/algorand-python/algorand-python.import.ts
Due: eslint, astro-check

feat(DVP-1193): Add dual import target for algorand-typescript guides
  imports/configs/algorand-typescript/algorand-typescript.import.ts
Due: eslint, astro-check

feat(DVP-1193): Add dual import target for algokit-subscriber guides
  imports/configs/algokit-subscriber/algokit-subscriber.import.ts
Due: eslint, astro-check

refactor(DVP-1193): Remove temporary link validator excludes
  astro.config.mjs
Due: eslint

refactor(DVP-1203): Modernize config structure — co-locate logos, standardize naming, prep version-aware refs
  imports/configs/algokit-cli/import.config.ts
  imports/configs/algokit-cli/logo.svg
  imports/configs/algokit-cli/sidebar.config.ts
  imports/configs/algokit-subscriber/import.config.ts
  imports/configs/algokit-subscriber/logo.svg
  imports/configs/algokit-subscriber/sidebar.config.ts
  imports/configs/algokit-utils/import.config.ts
  imports/configs/algokit-utils/logo.svg
  imports/configs/algokit-utils/sidebar.config.ts
  imports/configs/algorand-python/import.config.ts
  imports/configs/algorand-python/logo.svg
  imports/configs/algorand-python/sidebar.config.ts
  imports/configs/algorand-typescript/import.config.ts
  imports/configs/algorand-typescript/logo.svg
  imports/configs/algorand-typescript/sidebar.config.ts
  imports/configs/index.ts
  imports/configs/library-logos.ts
  imports/configs/nodekit/import.config.ts
  imports/configs/nodekit/logo.svg
  imports/configs/nodekit/sidebar.config.ts
  imports/types.ts
  package.json
  pnpm-lock.yaml
  src/components/LibraryIndex.astro
  src/components/SiteTitle.astro
  src/config/libraries.ts
Due: eslint, prettier, astro-check

fix(DVP-1203): Deduplicate versions in buildRegistry() to prevent duplicate picker entries
  src/config/libraries.ts
Due: eslint, prettier, astro-check

feat(DVP-1191): Add compact prop to LibraryPicker for header menu context
  src/components/LibraryPicker.astro
Due: prettier, astro-check

feat(DVP-1191): Create HeaderMenu component with hamburger toggle and dropdown
  src/components/HeaderMenu.astro
Due: prettier, astro-check

feat(DVP-1191): Add library page branch to Header with HeaderMenu hamburger
  src/components/Header.astro
Due: prettier, astro-check
