Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        description: "eslint: Find and fix problems in your JavaScript code"
        entry: npx eslint --max-warnings=0 --no-warn-ignored
        language: node
        types_or: [javascript, jsx, ts, tsx]
        files: \.(js|jsx|ts|tsx|mjs|cjs|astro)$
        exclude: ^examples/
        fail_fast: true
        require_serial: true

      - id: prettier
        name: prettier
        description: "prettier: Opinionated Code Formatter"
        entry: npx prettier --check
        language: node
        files: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
        fail_fast: true
        require_serial: true

      - id: astro-check
        name: astro check
        description: "astro check: Check your project for errors"
        entry: npx astro check
        language: node
        pass_filenames: false
        files: \.(astro|ts|tsx)$
        fail_fast: true
        require_serial: true

Add PUBLIC_KAPA_INTEGRATION_ID to build workflow
  .github/workflows/acceptance.yml
Due: none

Add tslib dependency for Kapa SDK
  package.json
  pnpm-lock.yaml
Due: none

Add PUBLIC_KAPA_INTEGRATION_ID to deploy workflow
  .github/workflows/publish.yaml
Due: none

Add syntax highlighting to AI chat with Catppuccin theme
  package.json
  pnpm-lock.yaml
  src/components/AIChatPanel.tsx
  src/components/ChatInterface.tsx
  src/styles/catppuccin-mocha-prism.ts
Due: eslint, prettier, astro-check

Add icon
  src/assets/images/thinking.svg
Due: none

Add deep thinking toggle to AI chat panel
  src/components/ChatInterface.tsx
Due: eslint, prettier, astro-check

Reduce font size and list indentation in AI chat responses
  src/components/ChatInterface.tsx
Due: eslint, prettier, astro-check

Fix overlapping close and reset buttons in chat header
  src/components/ChatInterface.tsx
Due: eslint, prettier, astro-check

Position Ask AI button next to search box on homepage
  src/components/Header.astro
Due: prettier, astro-check

Fix Ask AI button position on homepage
  src/components/Header.astro
Due: prettier, astro-check

Match Ask AI button height to search trigger
  src/components/AIChatTrigger.tsx
Due: eslint, prettier, astro-check

Use orange color for active deep thinking icon
  src/components/ChatInterface.tsx
Due: eslint, prettier, astro-check

Fix Ask AI button position on content pages
  src/components/Header.astro
Due: prettier, astro-check

Update deep thinking icon active color to teal
  src/components/ChatInterface.tsx
Due: eslint, prettier, astro-check

rename introduction page to portal guide with AI tool docs
  astro.config.mjs
  src/components/homepage/HomepageHero.astro
  src/content/docs/getting-started/introduction.mdx
  src/content/docs/getting-started/portal-guide.mdx
  src/content/docs/index.mdx
Due: eslint, prettier, astro-check

format
  src/content/docs/getting-started/portal-guide.mdx
Due: prettier

Add language/version picker navigation with mockup docs
  src/components/LibraryDocsSidebar.astro
  src/config/libraries.ts
  src/content/docs/docs/algokit-cli/latest/api/commands.md
  src/content/docs/docs/algokit-cli/latest/guides/getting-started.md
  src/content/docs/docs/algokit-cli/latest/index.md
  src/content/docs/docs/algokit-cli/v3-0-0/api/commands.md
  src/content/docs/docs/algokit-cli/v3-0-0/guides/getting-started.md
  src/content/docs/docs/algokit-cli/v3-0-0/index.md
  src/content/docs/docs/algokit-utils/python/latest/api/algorand-client.md
  src/content/docs/docs/algokit-utils/python/latest/guides/accounts.md
  src/content/docs/docs/algokit-utils/python/latest/index.md
  src/content/docs/docs/algokit-utils/python/v8-0-0/api/algorand-client.md
  src/content/docs/docs/algokit-utils/python/v8-0-0/guides/accounts.md
  src/content/docs/docs/algokit-utils/python/v8-0-0/index.md
  src/content/docs/docs/algokit-utils/typescript/latest/api/algorand-client.md
  src/content/docs/docs/algokit-utils/typescript/latest/guides/accounts.md
  src/content/docs/docs/algokit-utils/typescript/latest/index.md
  src/content/docs/docs/algokit-utils/typescript/v8-0-0/api/algorand-client.md
  src/content/docs/docs/algokit-utils/typescript/v8-0-0/guides/accounts.md
  src/content/docs/docs/algokit-utils/typescript/v8-0-0/index.md
Due: eslint, prettier, astro-check

Add .playwright-mcp to gitignore
  .gitignore
Due: none

Add architecture documentation for virtual collections and Kapa AI
  docs/architecture/kapa-ai-chat-ui.md
  docs/architecture/library-virtual-collections.md
Due: none

Add source group filtering docs to Kapa AI architecture
  docs/architecture/kapa-ai-chat-ui.md
Due: none

Update algokit-utils sidebar with actual guide entries
  src/config/libraries.ts
Due: eslint, prettier, astro-check

Reorganize algokit-utils content to language/version structure
  .gitignore
  src/content/docs/docs/algokit-utils/typescript/latest/guides/account-manager.mdx
  src/content/docs/docs/algokit-utils/typescript/latest/guides/algorand-client.mdx
  src/content/docs/docs/algokit-utils/typescript/latest/guides/app-client.mdx
  src/content/docs/docs/algokit-utils/typescript/latest/guides/app-deployer.mdx
  src/content/docs/docs/algokit-utils/typescript/latest/guides/asset-manager.mdx
  src/content/docs/docs/algokit-utils/typescript/latest/guides/transaction-composer.mdx
  src/content/docs/docs/algokit-utils/typescript/v8-0-0/guides/account-manager.mdx
  src/content/docs/docs/algokit-utils/typescript/v8-0-0/guides/algorand-client.mdx
  src/content/docs/docs/algokit-utils/typescript/v8-0-0/guides/app-client.mdx
  src/content/docs/docs/algokit-utils/typescript/v8-0-0/guides/app-deployer.mdx
  src/content/docs/docs/algokit-utils/typescript/v8-0-0/guides/asset-manager.mdx
  src/content/docs/docs/algokit-utils/typescript/v8-0-0/guides/transaction-composer.mdx
Due: prettier

Show 'Select language' when no language explicitly selected in URL
  src/components/LibraryDocsSidebar.astro
  src/config/libraries.ts
Due: eslint, prettier, astro-check

Add copy buttons to AI chat panel and increase panel width
  src/components/AIChatPanel.tsx
  src/components/ChatInterface.tsx
  src/components/LibraryDocsSidebar.astro
Due: eslint, prettier, astro-check

Add pinnable AI chat panel feature (experimental)
  docs/plans/2026-02-11-pinnable-chat-panel-design.md
  src/assets/images/reset-convo.svg
  src/components/AIChatPanel.tsx
  src/components/ChatInterface.tsx
  src/stores/chatStore.ts
  src/styles/global.css
Due: eslint, prettier, astro-check

Style chat panel buttons with square rounded design and green hover
  src/components/AIChatPanel.tsx
  src/components/ChatInterface.tsx
Due: eslint, prettier, astro-check

Add chat panel persistence and improve pin button styling
  astro.config.mjs
  docs/plans/2026-02-11-chat-panel-persistence-design.md
  src/components/ChatInterface.tsx
  src/components/CustomThemeProvider.astro
  src/styles/global.css
Due: eslint, prettier, astro-check

add MCP instructions for Codex
  src/content/docs/getting-started/portal-guide.mdx
Due: prettier

Add Astro View Transitions with chat panel persistence
  astro.config.mjs
  src/components/AIChatPanel.tsx
  src/components/CustomThemeProvider.astro
  src/components/DropDown.astro
  src/components/OpcodeFilters.astro
  src/styles/global.css
Due: eslint, prettier, astro-check

Updated docs
  docs/planning/2026-02-12-library-config-redesign.md
  docs/planning/implementation-plan.md
  docs/planning/kapa-ai-chat-ui.md
  docs/planning/library-virtual-collections.md
  docs/planning/view-transitions.md
  src/components/CustomThemeProvider.astro
  src/components/LibraryDocsSidebar.astro
Due: prettier, astro-check

chore: regenerate pnpm-lock.yaml for batched dependency updates
  pnpm-lock.yaml
Due: none

DVP-1187: Add library configuration system
  imports/configs/algokit-cli.ts
  imports/configs/algokit-cli/algokit-cli.import.ts
  imports/configs/algokit-subscriber/algokit-subscriber.import.ts
  imports/configs/algokit-utils.ts
  imports/configs/algokit-utils/algokit-utils.import.ts
  imports/configs/algorand-python/algorand-python.import.ts
  imports/configs/algorand-typescript/algorand-typescript.import.ts
  imports/configs/index.ts
  imports/configs/nodekit.ts
  imports/configs/nodekit/nodekit.import.ts
  imports/configs/puya.ts
  imports/configs/subscriber.ts
  imports/types.ts
  package.json
  pnpm-lock.yaml
  scripts/clean-docs-import.ts
  src/config/lang-icons.ts
  src/config/libraries.ts
  src/content/config.ts
Due: eslint, prettier, astro-check

Bumped astro-github-loader package
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

Fixed link to intro page
  src/components/Header.astro
  src/content/docs/index.mdx
Due: prettier, astro-check

Fixed lint errors
  .husky/pre-commit
  src/components/CustomThemeProvider.astro
Due: prettier, astro-check

DVP-1188: Add library and language SVG logo assets
  src/assets/images/algorand-python.svg
  src/assets/images/algorand-typescript.svg
  src/assets/images/cli.svg
  src/assets/images/go.svg
  src/assets/images/liquidauth.svg
  src/assets/images/nodekit.svg
  src/assets/images/py.svg
  src/assets/images/python.svg
  src/assets/images/rest.svg
  src/assets/images/subscriber.svg
  src/assets/images/thinking.svg
  src/assets/images/ts.svg
  src/assets/images/tui.svg
  src/assets/images/typescript.svg
  src/assets/images/utils.svg
Due: none

Updated publish workflow
  .github/workflows/publish.yaml
Due: none

ci: Add preview URL PR comment and clean up publish workflow
  .github/workflows/publish.yaml
Due: none

ci: Add refactor/library-enablement to acceptance workflow triggers
  .github/workflows/acceptance.yml
Due: none
