Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

eslint:
  name: eslint
  description: 'eslint: Find and fix problems in your JavaScript code'
  entry: npx eslint --max-warnings=0 --no-warn-ignored
  language: node
  fail_fast: true
  require_serial: true

prettier:
  name: prettier
  description: 'prettier: Opinionated Code Formatter'
  entry: npx prettier --check
  language: node
  fail_fast: true
  require_serial: true

astro-check:
  name: astro check
  description: 'astro check: Check your project for errors'
  entry: npx astro check
  language: node
  pass_filenames: false
  fail_fast: true
  require_serial: true

feat: filter artifact variants from REMOTE_CONTENT
  imports/configs/index.ts
Due: eslint, astro-check

feat: add import-release-docs.ts artifact downloader
  scripts/import-release-docs.ts
Due: eslint, astro-check

feat: add import:release scripts and update import:docs pipeline
  package.json
Due: none

feat: add build-sidebar-json.mjs library template
  scripts/library-templates/build-sidebar-json.mjs
Due: eslint

feat: add publish-devportal-docs.yml CI template
  scripts/library-templates/publish-devportal-docs.yml
Due: none

docs: add library template onboarding README
  scripts/library-templates/README.md
Due: none

feat: add post-import content transforms to artifact pipeline
  imports/configs/algokit-utils/import.config.ts
  imports/transforms/frontmatter.ts
  scripts/import-release-docs.ts
Due: eslint, astro-check

refactor: remove SVG imports from configs, resolve logos by convention
  imports/configs/algokit-cli/import.config.ts
  imports/configs/algokit-subscriber/import.config.ts
  imports/configs/algokit-utils/import.config.ts
  imports/configs/algorand-python/import.config.ts
  imports/configs/algorand-typescript/import.config.ts
  imports/configs/index.ts
  imports/configs/nodekit/import.config.ts
  imports/types.ts
  scripts/import-release-docs.ts
  scripts/manage-sidebar-meta.ts
  src/config/libraries.ts
Due: eslint, prettier, astro-check

fix: exclude algokit-utils TS links from validator until content is reimported
  astro.config.mjs
Due: eslint

feat: add devportalFallbacks support to build-sidebar-json template
  scripts/library-templates/build-sidebar-json.mjs
Due: eslint

feat: add readSidebarJson() and slugsToLinks() for cross-section sidebar embedding
  imports/sidebar.ts
Due: eslint, astro-check

feat: dynamic algokit/ sidebar from sidebar.json, add artifact variants
  astro.config.mjs
  imports/configs/algokit-utils/import.config.ts
  imports/configs/algokit-utils/sidebar.config.ts
Due: eslint, astro-check

refactor: update library templates and add composite publish action
  .github/actions/publish-devportal-docs/action.yml
  scripts/library-templates/README.md
  scripts/library-templates/build-sidebar-json.ts
  scripts/library-templates/normalize-links.ts
  scripts/library-templates/publish-devportal-docs.yml
  tsconfig.json
Due: eslint, astro-check

feat: add link normalization to import-release-docs
  scripts/import-release-docs.ts
Due: eslint, astro-check

fix: update broken debugger links to correct path
  src/content/docs/algokit/avm-debugger.mdx
  src/content/docs/concepts/smart-contracts/languages/python.mdx
Due: prettier

refactor: split global.css into token/component architecture
  src/styles/components.css
  src/styles/fonts.css
  src/styles/global.css
  src/styles/theme.css
Due: prettier

feat: update normalize-links template with lowercasing and dead-link stripping
  astro.config.mjs
  imports/configs/algokit-utils/import.config.ts
  scripts/library-templates/normalize-links.ts
Due: eslint, astro-check

fix: update broken testing link in typescript smart contracts page
  src/content/docs/concepts/smart-contracts/languages/typescript.mdx
Due: prettier

feat(DVP): add vitest setup and test infrastructure
  package.json
  pnpm-lock.yaml
  tests/helpers/transform-context.ts
  tsconfig.json
  vitest.config.ts
Due: eslint, astro-check

test(DVP): add yaml-utils unit tests
  imports/transforms/yaml-utils.ts
  tests/imports/transforms/yaml-utils.test.ts
Due: eslint, astro-check

fix: add TransformContext return type and passWithNoTests
  tests/helpers/transform-context.ts
  vitest.config.ts
Due: eslint, astro-check

fix: address code quality review for yaml-utils tests
  tests/imports/transforms/yaml-utils.test.ts
Due: eslint, astro-check

test(DVP): add common.ts and content.ts transform tests
  tests/imports/transforms/common.test.ts
  tests/imports/transforms/content.test.ts
Due: eslint, astro-check

test(DVP): add libraries.ts unit tests
  tests/config/libraries.test.ts
Due: eslint, astro-check

test(DVP): add sidebar.ts and types.ts tests
  imports/sidebar.ts
  tests/imports/sidebar.test.ts
  tests/imports/types.test.ts
Due: eslint, astro-check

test(DVP): add links.ts transform tests
  imports/transforms/links.ts
  tests/imports/transforms/links.test.ts
Due: eslint, astro-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs|astro)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^examples/)
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
  astro-check: any of: \.(astro|ts|tsx)$
