Repository algorandfoundation/devportal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, astro-check

eslint:
  name: eslint
  description: 'eslint: Find and fix problems in your JavaScript code'
  entry: npx eslint --max-warnings=0 --no-warn-ignored
  language: node
  fail_fast: true
  require_serial: true

prettier:
  name: prettier
  description: 'prettier: Opinionated Code Formatter'
  entry: npx prettier --check
  language: node
  fail_fast: true
  require_serial: true

astro-check:
  name: astro check
  description: 'astro check: Check your project for errors'
  entry: npx astro check
  language: node
  pass_filenames: false
  fail_fast: true
  require_serial: true

Fixed commands for bridging
  src/assets/images/wormhole-ntt-deploy-peer-token.png
  src/assets/images/wormhole-ntt-evm-to-avm-result.png
  src/assets/images/wormhole-ntt-step-7-output-steps.png
  src/content/docs/resources/bridging.mdx
Due: prettier

Fixed lint issues
  src/content/docs/resources/bridging.mdx
Due: prettier

Updated GTM ID to new container
  astro.config.mjs
Due: eslint

Updated GTM ID to new container (#474)
  astro.config.mjs
Due: eslint

ci(publish): Target main-dist for release (#473)
  .github-import-state.json
  .github/workflows/acceptance.yml
  .github/workflows/import-docs.yml
  .github/workflows/link-check.yml.disabled
  .github/workflows/publish.yaml
  .gitignore
  .lycheeignore
  .pre-commit-config.yaml
  astro.config.mjs
  imports/configs/puya.ts
  lychee.toml
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/content/docs/algokit/algokit-intro.mdx
  src/content/docs/algokit/language-servers/algorand-python.mdx
  src/content/docs/algokit/language-servers/algorand-typescript.mdx
  src/content/docs/algokit/subscriber/python/overview.md
  src/content/docs/algokit/subscriber/typescript/README.md
  src/content/docs/algokit/utils/algokit-clients.mdx
  src/content/docs/arc-standards/arc-0089.md
  src/content/docs/concepts/accounts/overview.mdx
  src/content/docs/concepts/smart-contracts/avm.md
  src/content/docs/concepts/smart-contracts/languages/typescript.mdx
  src/content/docs/concepts/smart-contracts/resource-usage.mdx
  src/content/docs/getting-started/introduction.mdx
  src/content/docs/getting-started/why-algorand.mdx
  src/content/docs/nodes/installation/manual-installation.mdx
  src/content/docs/reference/algokit-utils-py/api/accounts/account_manager/index.md
  src/content/docs/reference/algorand-python/api/api-algopy.arc4.md
  src/content/docs/reference/algorand-python/api/api-algopy.md
Due: eslint, prettier, astro-check

Added beta note
  src/content/docs/resources/bridging.mdx
Due: prettier

Fixed errors
  src/content/docs/resources/bridging.mdx
Due: prettier

fix(ci): allow production deploys on push events
  .github/workflows/publish.yaml
Due: none

fix(ci): allow production deploys on push events (#476)
  .github/workflows/publish.yaml
Due: none

Fix Wormhole NTT diagram and update bridging docs
  src/assets/images/wormhole-ntt-deployment-evm.png
  src/content/docs/resources/bridging.mdx
Due: prettier

Fix Wormhole NTT diagram and update bridging docs (#477)
  src/assets/images/wormhole-ntt-deployment-evm.png
  src/content/docs/resources/bridging.mdx
Due: prettier

Fixed Lora Resources
  src/content/docs/resources/bridging.mdx
Due: prettier

fix: use static import for teal syntax and add stub language definitions
  ec.config.mjs
Due: eslint

fix: use static import for teal syntax and add stub language definitions (#489)
  ec.config.mjs
Due: eslint

ci(publish): Target main-dist for release (#475)
  .github/workflows/publish.yaml
  astro.config.mjs
  src/assets/images/bridging-ntt-sdk-result.png
  src/assets/images/womrhole-ntt-deployment-evm.png
  src/assets/images/wormhole-add-chain-sepolia.png
  src/assets/images/wormhole-ntt-avm-to-evm-result.png
  src/assets/images/wormhole-ntt-complete-transfer.png
  src/assets/images/wormhole-ntt-configure-ntt-contracts.png
  src/assets/images/wormhole-ntt-deploy-existing-token.png
  src/assets/images/wormhole-ntt-deploy-ntt-manager.png
  src/assets/images/wormhole-ntt-deploy-peer-token.png
  src/assets/images/wormhole-ntt-deploymentOutJson.png
  src/assets/images/wormhole-ntt-evm-to-avm-result.png
  src/assets/images/wormhole-ntt-get-peer.png
  src/assets/images/wormhole-ntt-intiate-transfer.png
  src/assets/images/wormhole-ntt-opt-in.png
  src/assets/images/wormhole-ntt-sdk-avm-to-evm-result.png
  src/assets/images/wormhole-ntt-set-peer.png
  src/assets/images/wormhole-ntt-status-cmd.png
  src/assets/images/wormhole-ntt-step-7-output-steps.png
  src/assets/images/wormhole-ntt-step-7-result-pending.png
  src/assets/images/wormhole-ntt-step-7-result.png
  src/assets/images/wormhole-ntt.png
  src/content/docs/resources/bridging.mdx
Due: eslint, prettier

ci(publish): Target main-dist for release (#491)
  ec.config.mjs
  package.json
  pnpm-lock.yaml
  src/assets/images/wormhole-ntt-deployment-evm.png
  src/content/docs/resources/bridging.mdx
Due: eslint, prettier

ci: add workflow_dispatch trigger to publish workflow
  .github/workflows/publish.yaml
Due: none

ci: add workflow_dispatch trigger to publish workflow (#492)
  .github/workflows/publish.yaml
Due: none

ci(publish): Target main-dist for release (#494)
  .github/workflows/publish.yaml
Due: none

docs: Import updated documentation
  .github-import-state.json
  src/content/docs/arc-standards/arc-0086.md
Due: prettier

ci: add workflow to sync doc imports from main to main-dist
  .github/workflows/sync-doc-imports.yml
Due: none

ci: add workflow to sync doc imports from main to main-dist (#496)
  .github/workflows/sync-doc-imports.yml
Due: none

docs: Import updated documentation (#495)
  .github-import-state.json
  src/content/docs/arc-standards/arc-0086.md
Due: prettier

ci: remove team reviewer from sync workflow
  .github/workflows/sync-doc-imports.yml
Due: none

ci: remove team reviewer from sync workflow (#497)
  .github/workflows/sync-doc-imports.yml
Due: none

ci: replace sync-doc-imports with sync-to-production workflow
  .github/copilot-instructions.md
  .github/workflows/sync-doc-imports.yml
  .github/workflows/sync-to-production.yml
Due: none

ci: replace sync-doc-imports with sync-to-production workflow (#499)
  .github/copilot-instructions.md
  .github/workflows/sync-doc-imports.yml
  .github/workflows/sync-to-production.yml
Due: none

chore: add OpenAI-powered prose check pre-commit hook
  .gitignore
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
  scripts/prose-check.ts
  scripts/prose-review-instructions.md
Due: eslint, astro-check

chore: add prose check configuration options
  .env.prose-precommit.example
  package.json
  scripts/prose-check.ts
Due: eslint, astro-check

docs: Import updated documentation (#502)
  .github-import-state.json
  src/content/docs/arc-standards/arc-0086.md
Due: prettier

Canary to Production Sync (#500)
  .github-import-state.json
  .github/copilot-instructions.md
  .github/workflows/sync-to-production.yml
  src/content/docs/arc-standards/arc-0086.md
Due: prettier

feat: implement TanStack-style library navigation with virtual collections
  astro.config.mjs
  src/components/Header.astro
  src/components/LibraryDocsSidebar.astro
  src/components/LibrarySwitcher.astro
  src/components/RemoteCode.ts
  src/components/Sidebar.astro
  src/config/libraries.ts
  src/content/config.ts
  src/content/docs/docs/algokit-cli/index.mdx
  src/content/docs/docs/algokit-subscriber-ts/index.mdx
  src/content/docs/docs/algokit-utils-py/index.mdx
  src/content/docs/docs/algokit-utils-ts/accounts.mdx
  src/content/docs/docs/algokit-utils-ts/algorand-client.mdx
  src/content/docs/docs/algokit-utils-ts/app-client.mdx
  src/content/docs/docs/algokit-utils-ts/index.mdx
  src/content/docs/docs/algokit-utils-ts/install.mdx
  src/content/docs/docs/algokit-utils-ts/quick-start.mdx
  src/content/docs/docs/algorand-python/index.mdx
  src/content/docs/docs/algorand-python/quick-start.mdx
  src/content/docs/docs/algorand-typescript/index.mdx
  src/content/docs/docs/index.mdx
  src/content/docs/docs/nodekit/index.mdx
  src/content/docs/docs/rest-api/index.mdx
Due: eslint, prettier, astro-check

Switch from .env.local to .envrc/direnv approach with secret injection from 1Password CLI
  .env.prose-precommit.example
  .envrc
Due: none

Updated prose-check to fallback to .envrc
  scripts/prose-check.ts
Due: eslint, astro-check

chore: update prose-check defaults in .envrc
  .envrc
Due: none

chore: update README and add husky/nomonic pre-commit hooks
  .husky/pre-commit
  README.md
  package.json
  pnpm-lock.yaml
  scripts/nomonic/check-staged.ts
  scripts/nomonic/detect.ts
  scripts/nomonic/ignore.ts
  scripts/nomonic/scan-repo.ts
  scripts/nomonic/wordlist.ts
Due: eslint, astro-check

chore: update nomonic scripts and add .nomonicignore
  .nomonicignore
  scripts/nomonic/check-staged.ts
  scripts/nomonic/detect.ts
  scripts/nomonic/scan-repo.ts
Due: eslint, astro-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs|astro)$ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^examples/)
  prettier: any of: ^src/.*\.(js|jsx|ts|tsx|mjs|cjs|json|md|mdx|astro|css)$
  astro-check: any of: \.(astro|ts|tsx)$
